{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}{{ blogpost.title|replace({'*stadsnaam*': website.websiteCity}) }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ blogpost.title|replace({'*stadsnaam*': website.websiteCity}) }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}{{ blog.post|slice(0, 250)|raw }}{% endblock %}
    {% block description %}{{ blog.post|slice(0, 250)|raw }}{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 service-detail">
                <div class="service-box">
                        <h2>{{ blogpost.title|replace({'*stadsnaam*': website.websiteCity}) }}</h2>
                        <p>
                            {{ blogpost.post|replace({'*stadsnaam*': website.websiteCity})|raw }}
                        </p>
                        <br/>
                        <p>Geschreven door: {{ blogpost.author }}</p>
                        <p>Datum gepubliceerd: {{ blogpost.datetimePublished|date('d-m-Y') }}</p><br/>
                    <div class="fb-share-button" data-href="{{ app.request.uri }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Delen</a></div>
                    <div style="margin-top: 5px;"><a href="{{ app.request.uri }}" class="twitter-share-button" data-size="large" data-lang="nl" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Wilt u een snelle offerte op maat?</h3>
                <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}