{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Bij traditionele glasbewassing worden uw ramen en kozijnen op de ouderwetse manier gereinigd. Wij zijn gespecialiseerd in deze manier van glazenwasserij. Ook al is deze methode van ramen wassen al eeuwenoud, hij is nog steeds zeer effectief. Wij zijn gespecialiseerd in het vakkundig reinigen van uw ramen door middel van deze traditionele glasbewassing. We maken hierbij gebruik van een emmer, een spons, een wisser en desnoods een ladder. Uw ramen streeploos gereinigd door onze glazenwassers met jarenlange ervaring. Betrouwbaar en professioneel.{% endblock %}
    {% block description %}Bij traditionele glasbewassing worden uw ramen en kozijnen op de ouderwetse manier gereinigd. Wij zijn gespecialiseerd in deze manier van glazenwasserij. Ook al is deze methode van ramen wassen al eeuwenoud, hij is nog steeds zeer effectief. Wij zijn gespecialiseerd in het vakkundig reinigen van uw ramen door middel van deze traditionele glasbewassing. We maken hierbij gebruik van een emmer, een spons, een wisser en desnoods een ladder. Uw ramen streeploos gereinigd door onze glazenwassers met jarenlange ervaring. Betrouwbaar en professioneel.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 service-detail">
                <div class="service-box">
                    {% for blog in blogs %}
                        <h2>{{ blog.title|replace({'*stadsnaam*': website.websiteCity}) }}</h2>
                        <p>
                            {{ blog.post|slice(0, 500)|replace({'*stadsnaam*': website.websiteCity})|raw }}...
                        </p>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p>Geschreven door: {{ blog.author }}</p>
                                <p>Datum gepubliceerd: {{ blog.datetimePublished|date('d-m-Y') }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p><a href="{{ blog.path }}" class="btn btn-default btn-block no-margin">Lees verder...</a></p>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Wilt u een snelle offerte op maat?</h3>
                <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}