{% if city is defined and district is defined %}
 {% set pageName = pageName ~ city|capitalize ~ '-' ~ district|capitalize %}
{% endif %}

<div class="page-banner about-banner container-fluid">
    <div class="container">
        <div class="banner-content">
            <h3>{{ pageName|replace({'*stadsnaam*': website.websiteCity})|raw }}</h3>
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}" title="Home">Home</a></li>
                <li>{{ pageName|replace({'*stadsnaam*': website.websiteCity})|striptags }}</li>
            </ol>
        </div>
    </div>
</div>