<div class="working-section container-fluid">
    <div class="container">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="working-content">
                <i class="fa fa-clock-o"></i>
                <h3>Openingstijden</h3>
                <p>Maandag - Zaterdag</p>
                <p>08:30 - 17:30</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="working-content">
                <i class="fa fa-phone"></i>
                <h3>Snel iemand aan de lijn?</h3>
                <p>Bel ons nu!</p>
                <p><a href="tel:{{ website.phone }}" title="Phone" class="phone">{{ website.phone }}</a></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="working-content">
                <i class="fa fa-envelope"></i>
                <h3>Contact per e-mail?</h3>
                <p>E-mail ons nu!</p>
                <p><a href="mailto:{{ website.email }}" title="{{ website.email }}">{{ website.email }}</a></p>
            </div>
        </div>
    </div>
</div>