{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Professionele Glazenwasser in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Professionele Glazenwasser in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
    {% block description %}Wij van {{ website.websiteTItle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
                <h3>Traditionele glasbewassing</h3>
                <p>U zoekt kwalitatief goed schoonmaakwerk als het gaat om de ramen van uw woning of bedrijfspand? Bij DCA Dienstverlening bent u aan het juiste adres wat betreft professie, betrouwbaarheid, gecertificeerde en ervaren vakmensen en een brede dienstverlening. Glazenwasserij in {{ city|capitalize }} - {{ district|capitalize }} besteedt u het beste uit aan onze glazenwassers met jarenlange ervaring. We zijn aangesloten bij de VGM Checklist Aannemers en beschikken over het OSB Keurmerk. Ook voldoen we aan de NEN 4400-1 normen. Schone ramen? De kozijnen goed gereinigd? Neem contact met ons op en we zijn u graag van dienst.</p>
                <h3>Wij zijn er voor alle ramen in {{ city|capitalize }} - {{ district|capitalize }}</h3>
                <p>U hebt een drukke baan en het zemen van de ramen schiet er vaak bij in? Neem contact op met de professionele vakmensen van DCA Dienstverlening. Wanneer u uw gegevens invult op het formulier op onze website, sturen wij u geheel vrijblijvend een op maat gemaakte offerte. Uw bedrijf is driftig op zoek naar een ervaren glaswasser die beschikt over een hoogwerker? Bij ons bent u aan het juiste adres. We reinigen de kozijnen en ramen op ambachtelijke en traditionele wijze, zodat u niet te maken hebt met vervelende vlekken en strepen. Met onze telebewassing reinigen wij ramen tot een hoogte van 23 meter. Ramen van 53 meter hoog zijn voor onze hoogwerker geen enkel probleem. Neem nu contact op met onze professionele glazenwasser. Wij zijn er voor u.</p>
                <h3>Vul het formulier in voor een vrijblijvende offerte</h3>
                <p>U wilt weten of wij iets voor u kunnen betekenen? Op onze website vindt u een formulier dat u kunt invullen. Daarna ontvangt u spoedig een reactie van ons en weet u exact waar u bij ons op kunt rekenen. Wij zijn er voor zowel particulieren als bedrijven. Een gecertificeerde glazenwasser nodig voor uw onderneming? Neem direct contact met ons op. Ook woningbouwverenigingen en VvE’s kunnen gebruik maken van onze professionele glazenwasserij in {{ city|capitalize }} - {{ district|capitalize }}.</p>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}