<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="nl"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="www.dcadienstverlening.nl">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />

    {% if district is not defined %}
        {% set district = 'bar' %}
    {% endif %}

    {% if blogpostpath is not defined %}
        {% set blogpostpath = null %}
    {% endif %}

    <meta property="og:url" content="{{ path(app.request.attributes.get('_route'), {'city': website.websiteCity, 'cityy': website.websiteCity, 'district': district, 'blogpostpath': blogpostpath}) }}" />
    <meta property="og:site_name" content="{{ website.websiteTitle }} - {{ website.seoTitle }}" />
    <meta property="og:image" content="http://www.{{ website.domain }}{{ asset('bundles/app/images/socialmedia/'~website.websiteCity|lower|replace({' ':''})~'.jpg') }}" />

    <link rel="shortcut icon" href="{{ asset('bundles/app/glazen/images/favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('bundles/app/glazen/css/bootstrap.min.css') }}?v=1.0.0">
    <link rel="stylesheet" href="{{ asset('bundles/app/glazen/css/style.css') }}?v=1.0.0">
    {#<link rel="stylesheet" href="{{ asset('bundles/app/glazen/css/navigation-menu.css') }}?v=1.0.0">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/glazen/css/custom.css') }}?v=1.0.0">

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.0&appId=701099099976218';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Loader -->
{#<div id="site-loader" class="load-complete">#}
    {#<div class="loader">#}
        {#<div class="loader-inner ball-clip-rotate">#}
            {#<div></div>#}
        {#</div>#}
    {#</div>#}
{#</div><!-- Loader /- -->#}

<header class="header-section container-fluid no-padding">
    <div class="top-header container-fluid no-padding">
        <div class="container">
            <div class="col-md-4 col-sm-6 col-xs-12 header-social info">
            </div><!-- Social /- -->
            <div class="col-md-8 col-sm-6 col-xs-12 info">
                <p><i class="fa fa-phone "></i><a href="tel:{{ website.phone }}" title="Telefoon" class="phone">Bel nu voor een vrijblijvende offerte: {{ website.phone }}</a></p>
                <p class="hidden-xs"><i class="fa fa-envelope"></i><a href="mailto:{{ website.email }}" title="{{ website.email }}">E-mail: {{ website.email }}</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid no-padding menu-block">
        <div class="container">
            <nav class="navbar navbar-default ow-navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('home') }}" class="text-center">
                        <img class="logo img-responsive" src="{{ asset('bundles/app/glazen/images/logos/logo_deglazenwassersvan'~website.websiteCity|lower|replace({' ':''})~'.png') }}" alt="De Glazenwassers van {{ website.websiteCity }}" />
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a title="Homepage Glazenwassers van {{ website.websiteCity }}" href="{{ path('home') }}">Home</a></li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" data-toggle="dropdown" title="Glazenwassers {{ website.websiteCity }}" href="#">Glazenwassers {{ website.websiteCity }}</a>
                            <i class="ddl-switch fa fa-angle-down" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                {% for gebied in werkgebieden %}
                                    <li><a href="{{ path('glazen_districts', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Glazenwasser in {{ website.websiteCity }} - {{ gebied.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" data-toggle="dropdown" title="Glasbewassing" href="#">Glasbewassing</a>
                            <i class="ddl-switch fa fa-angle-down" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li><a title="Tradionele Glasbewassing" href="{{ path('service_traditioneel') }}">Traditionele glasbewassing</a></li>
                                <li><a title="Telebewassing" href="{{ path('service_telebewassing') }}">Telebewassing (tot 23 meter)</a></li>
                                <li><a title="Hoogwerker" href="{{ path('service_hoogwerker') }}">Hoogwerker (tot 53 meter)</a></li>
                                <li><a title="Overige diensten" href="{{ path('service_overig') }}">Overige diensten</a></li>
                            </ul>
                        </li>
                        <li><a title="Blog" href="{{ path('blog') }}">Blog</a></li>
                        <li><a title="Contact / Offerte" href="{{ path('contact') }}">Contact / Offerte</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<main>