{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Bent u op zoek naar een Glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.{% endblock %}
    {% block description %}Bent u op zoek naar een Glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/slider.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/werkgebied.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}