{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Hoogwerker Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Hoogwerker Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}U bent op zoek naar een glazenwasser die uw ramen en kozijnen op zeer grote hoogte reinigt? Maak gebruik van onze service en neem nu direct contact met ons op. Onze hoogwerker is ideaal voor het wassen van ramen van zeer hoge gebouwen. Tot een hoogte van 53 meter wassen wij uw kozijnen en ramen. Onze gecertificeerde en ervaren glazenwassers kunnen u op een uitstekende en volstrekt veilige wijze van dienst zijn. Ook op grote hoogte maken wij gebruik van emmer, trekker en spons en zorgen op die manier voor perfect schone ramen zonder strepen en vlekken. Uw kozijn en uw raam is bij ons in goede handen.{% endblock %}
    {% block description %}U bent op zoek naar een glazenwasser die uw ramen en kozijnen op zeer grote hoogte reinigt? Maak gebruik van onze service en neem nu direct contact met ons op. Onze hoogwerker is ideaal voor het wassen van ramen van zeer hoge gebouwen. Tot een hoogte van 53 meter wassen wij uw kozijnen en ramen. Onze gecertificeerde en ervaren glazenwassers kunnen u op een uitstekende en volstrekt veilige wijze van dienst zijn. Ook op grote hoogte maken wij gebruik van emmer, trekker en spons en zorgen op die manier voor perfect schone ramen zonder strepen en vlekken. Uw kozijn en uw raam is bij ons in goede handen.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Glazenbewassing voor iedere hoogte</h3>
                <p>U bent op zoek naar een glazenwasser die uw ramen en kozijnen op zeer grote hoogte reinigt? Maak gebruik van onze service en neem nu direct contact met ons op. Onze hoogwerker is ideaal voor het wassen van ramen van zeer hoge gebouwen. Tot een hoogte van 53 meter wassen wij uw kozijnen en ramen. Onze gecertificeerde en ervaren glazenwassers kunnen u op een uitstekende en volstrekt veilige wijze van dienst zijn. Ook op grote hoogte maken wij gebruik van emmer, trekker en spons en zorgen op die manier voor perfect schone ramen zonder strepen en vlekken. Uw kozijn en uw raam is bij ons in goede handen.</p>
                <h3>Handmatig ramen wassen via de hoogwerker</h3>
                <p>Eigenlijk lijkt het zo logisch en eenvoudig: ramen zijn helder en doorzichtig en u kunt er altijd door naar buiten kijken. Helaas is dit niet altijd de realiteit. Glas trekt stof en vuil aan en daarom is het noodzakelijk dat ramen met een zekere regelmaat worden schoongemaakt. Het beste kan dit nog altijd gebeuren door middel van trekker, spons en een emmer met water. U vraagt zich af hoe dit realiteit wordt met uw ramen op grote hoogte? Neem contact op met onze professionele glazenwassers en het wordt voor u geregeld. De hoogwerker brengt onze glazenwasser omhoog, direct bij het raam en voordat u het weet, heeft u weer een helder zicht door de ruit. Neem nu contact op met de gecertificeerde vakman. Het zal de uitstraling van het gebouw zeker ten goede komen.</p>
                <h3>Vakkundig en veilig</h3>
                <p>Veiligheid staat bij ons hoog in het vaandel en daarom zorgen wij er altijd voor dat de hoogwerker op de juiste manier geplaatst wordt. Hierbij wordt nauwkeurig acht geslagen op het naleven van de diverse veiligheidsnormen. Glasbewassing op een efficiënte en veilige manier. Kozijnen en ramen schoon voordat u het weet. Wij zijn aangesloten bij DCA Dienstverlening en voldoen aan de NEN 4400-1 normen. Daarnaast beschikken we over het OSB Keurmerk en zijn we aangesloten bij de VGM Checklist. U wilt graag gebruik maken van glasbewassing door middel van de hoogwerker? Neem nu contact met ons op en we sturen u een op maat gemaakte offerte. Het enige dat u hoeft te doen, is het invullen van een aantal gegevens op het contactformulier dat u vindt op onze website.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}