{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Overige Diensten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Overige Diensten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Naast de diensten op het gebied van glasbewassing, kunnen wij u ook van dienst zijn op het terrein van gevelreiniging. Wilt u dat uw pand een goede uitstraling heeft, dan is gevelreinging- en onderhoud van groot belang. Wij kunnen u van dienst zijn met gevelreiniging, graffitireiniging, voegwerk, schilderwerk en impregneren van de gevel. Wij zijn al jaren actief op beide gebieden en zowel particulieren, bedrijven, woningcoöperaties als andere zakelijke contacten zijn bij ons van harte welkom. We maken alleen gebruik van gecertificeerde medewerkers en zijn aangesloten bij de VGM Checklist. Daarnaast voldoen we aan de NEN 4400-1 normen en beschikken we over het OSB Keurmerk. U bent ervan overtuigd dat een goede gevelreiniging onmisbaar is voor het imago van uw pand? Neem dan nu contact met ons op. U kunt uw gegevens invullen op onze website en ontvangt dan van ons een op maat gemaakte offerte.{% endblock %}
    {% block description %}Naast de diensten op het gebied van glasbewassing, kunnen wij u ook van dienst zijn op het terrein van gevelreiniging. Wilt u dat uw pand een goede uitstraling heeft, dan is gevelreinging- en onderhoud van groot belang. Wij kunnen u van dienst zijn met gevelreiniging, graffitireiniging, voegwerk, schilderwerk en impregneren van de gevel. Wij zijn al jaren actief op beide gebieden en zowel particulieren, bedrijven, woningcoöperaties als andere zakelijke contacten zijn bij ons van harte welkom. We maken alleen gebruik van gecertificeerde medewerkers en zijn aangesloten bij de VGM Checklist. Daarnaast voldoen we aan de NEN 4400-1 normen en beschikken we over het OSB Keurmerk. U bent ervan overtuigd dat een goede gevelreiniging onmisbaar is voor het imago van uw pand? Neem dan nu contact met ons op. U kunt uw gegevens invullen op onze website en ontvangt dan van ons een op maat gemaakte offerte.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>DCA Dienstverlening</h3>
                <p>Naast de diensten op het gebied van glasbewassing, kunnen wij u ook van dienst zijn op het terrein van gevelreiniging. Wilt u dat uw pand een goede uitstraling heeft, dan is gevelreinging- en onderhoud van groot belang. Wij kunnen u van dienst zijn met gevelreiniging, graffitireiniging, voegwerk, schilderwerk en impregneren van de gevel. Wij zijn al jaren actief op beide gebieden en zowel particulieren, bedrijven, woningcoöperaties als andere zakelijke contacten zijn bij ons van harte welkom. We maken alleen gebruik van gecertificeerde medewerkers en zijn aangesloten bij de VGM Checklist. Daarnaast voldoen we aan de NEN 4400-1 normen en beschikken we over het OSB Keurmerk. U bent ervan overtuigd dat een goede gevelreiniging onmisbaar is voor het imago van uw pand? Neem dan nu contact met ons op. U kunt uw gegevens invullen op onze website en ontvangt dan van ons een op maat gemaakte offerte.</p>
                <h3>Gevelreiniging- en onderhoud</h3>
                <p>Wanneer u niets doet aan uw gevel, zult u na verloop van tijd merken dat de uitstraling van uw pand minder wordt. Ongetwijfeld krijgt u op een bepaald moment last van groene aanslag, vochtplekken, vervuiling, slecht voegwerk, belabberd schilderwerk of wellicht zelfs graffiti. Goed nieuws is dat er voor al deze problemen een oplossing is. Wij zijn u graag van dienst met een deskundige en betrouwbare gevelreiniging. We maken uw gevel schoon door middel van zandstralen, met een hogedrukreiniger of met een Micro-neveljet bestraling. Dit is afhankelijk van diverse factoren. Ook wanneer u last heeft van graffiti op uw pand, kunnen wij u van dienst zijn. We zorgen voor een deskundige graffiti reiniging. Is uw voegwerk of schilderwerk aan vervanging toe? Wilt u de gevel laten impregneren? Neem direct contact met ons op en we staan voor u klaar. Deskundige gevelreiniging- en onderhoud.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}