<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="section-header">
            <h3>Glasbewassing diensten</h3>
            <p>Een oplossing voor ieder probleem</p>
        </div>
        <div class="col-md-8 service-detail">
            <div class="row equal">
                <div class="col-md-6 col-sm-6 col-xs-6 service-box read-more">
                    <h3>Traditionele glasbewassing</h3>
                    <p>Traditionele glasbewassing betekent dat uw ramen op ouderwetse wijze worden gewassen. Er wordt bij deze manier van glasbewassing gebruik gemaakt van wisser, spons, klimmaterialen, enzovoort. Het wassen van kozijnen en ramen is een ambachtelijk werk dat dient te gebeuren door professionele glazenwassers.</p>
                    <a href="{{ path('service_traditioneel') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 service-box read-more">
                    <h3>Telebewassing</h3>
                    <p>Bij telebewassing, ook wel telescoopbewassing genoemd, wordt gebruik gemaakt van een borstel op een telescoopstok. Met gedemineraliseerd water worden ramen en kozijnen op grote hoogte gereinigd. Door het gebruik van dit water is nadrogen overbodig en worden strepen en vlekken op het glas voorkomen. De telebewassing is mogelijk tot een hoogte van 23 meter.</p>
                    <a href="{{ path('service_telebewassing') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 service-box read-more">
                    <h3>Hoogwerker</h3>
                    <p>Door middel van een hoogwerker worden ramen op grote hoogte grondig gereinigd door een professionele glazenwasser. Het glas en de kozijnen worden op een traditionele wijze, handmatig gewassen. De glazenwasser wordt door middel van een hoogwerker in een bak naar het raam gebracht. De hoogwerker is te gebruiken tot een hoogte van 53 meter.</p>
                    <a href="{{ path('service_hoogwerker') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 service-box read-more">
                    <h3>Overige diensten</h3>
                    <p>Daarnaast helpt DCA Dienstverlening u met een professionele reiniging van uw gevels. Het reinigen van gevels verhoogt de duurzaamheid van een pand en zorgt daarnaast voor een perfecte uitstraling. Tijdens de gevelreiniging wordt al het vuil en al de aanslag verwijdert van de buitengevel van uw pand of woning.</p>
                    <a href="{{ path('service_overig') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 srv-img">
        <img src="{{ asset('bundles/app/glazen/images/dca-dienstverlening.jpg') }}" alt="service-main" />
    </div>
</div>