<div class="video-wrapper hidden-xs">
    <h1>Professionele glasbewassing op elke hoogte.</h1>
    <video src="{{ asset('bundles/app/glazen/video/dca.webm') }}" autoplay loop></video>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 text-center">
        <hr>
        <h1>Professionele glasbewassing op elke hoogte.</h1>
        <hr>
    </div>
</div>
