{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Telebewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Telebewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}De laatste jaren is het reinigen van ramen en kozijnen van grote gebouwen steeds veiliger en efficiënter geworden. U kunt bij ons terecht voor telebewassing door professionele glazenwassers. We maken hierbij gebruik van een telescoop met uitschuifbare steel en kunnen op deze manier ramen tot een hoogte van 23 meter schoonmaken. Glaspartijen van gebouwen kunnen professioneel schoongemaakt worden zonder gebruik van ladders. Doordat er geen heen- en- weer gesjouw van ladders en emmers is, is deze manier van glasbewassing vele malen efficiënter. En daardoor goedkoper. Er wordt door onze gecertificeerde vakmensen vanaf de grond gewerkt. Heeft u belangstelling voor deze manier van glasbewassing? Wij zijn u graag van dienst en adviseren u om even het contactformulier op onze website in te vullen.{% endblock %}
    {% block description %}De laatste jaren is het reinigen van ramen en kozijnen van grote gebouwen steeds veiliger en efficiënter geworden. U kunt bij ons terecht voor telebewassing door professionele glazenwassers. We maken hierbij gebruik van een telescoop met uitschuifbare steel en kunnen op deze manier ramen tot een hoogte van 23 meter schoonmaken. Glaspartijen van gebouwen kunnen professioneel schoongemaakt worden zonder gebruik van ladders. Doordat er geen heen- en- weer gesjouw van ladders en emmers is, is deze manier van glasbewassing vele malen efficiënter. En daardoor goedkoper. Er wordt door onze gecertificeerde vakmensen vanaf de grond gewerkt. Heeft u belangstelling voor deze manier van glasbewassing? Wij zijn u graag van dienst en adviseren u om even het contactformulier op onze website in te vullen.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Glasbewassing op grote hoogte</h3>
                <p>De laatste jaren is het reinigen van ramen en kozijnen van grote gebouwen steeds veiliger en efficiënter geworden. U kunt bij ons terecht voor telebewassing door professionele glazenwassers. We maken hierbij gebruik van een telescoop met uitschuifbare steel en kunnen op deze manier ramen tot een hoogte van 23 meter schoonmaken. Glaspartijen van gebouwen kunnen professioneel schoongemaakt worden zonder gebruik van ladders. Doordat er geen heen- en- weer gesjouw van ladders en emmers is, is deze manier van glasbewassing vele malen efficiënter. En daardoor goedkoper. Er wordt door onze gecertificeerde vakmensen vanaf de grond gewerkt. Heeft u belangstelling voor deze manier van glasbewassing? Wij zijn u graag van dienst en adviseren u om even het contactformulier op onze website in te vullen.</p>
                <h3>Gedemineraliseerd water</h3>
                <p>Bij telebewassing wordt gebruik gemaakt van zogenaamd gedemineraliseerd water. Doordat dit water geheel gezuiverd is, hoeft u niet bang te zijn voor ontsierende en hinderlijke strepen en vlekken. De ramen dienen enkel gereinigd te worden en naspoelen is niet nodig. Onze glazenwassers zijn aangesloten bij DCA Dienstverlening en volledig op de hoogte van de nieuwste technieken. Bij ons kunt u vertrouwen op vakmanschap, ervaring en uitstekende kwaliteit. We voldoen geheel aan de NEN 4400-1 normen, beschikken over het OSB Keurmerk en zijn aangesloten bij de VGM Checklist Aannemers. Onze glazenwassers volgen regelmatig bijscholing en blijven goed op de hoogte van nieuwe trends en technieken door het bijwonen van vakbeurzen. Wij gebruiken enkel materiaal van degelijke kwaliteit.</p>
                <h3>Voordelen van telebewassing</h3>
                <p>Glazenwasserij door middel van telebewassing biedt u verschillende voordelen. U kunt hierbij denken aan onder meer kostenbesparing, op hoogte de ramen wassen zonder een hoogwerker, moeilijk bereikbare hoogtes komen ook in aanmerking, vriendelijk voor het milieu, geen verplaatsing van ladders en 100% veiligheid. U wilt uw ramen en kozijnen laten reinigen door middel van telebewassing? Onze gecertificeerde glazenwasser is u graag van dienst. Wanneer u uw gegevens invult op het formulier op onze website, ontvangt u van ons een offerte. Deze is dan geheel voor u op maat gemaakt, zodat u meteen weet waar u aan toe bent. Neem nu contact met ons op. Professionele glazenwasser voor het wassen van zowel kozijn als raam op grote hoogte.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}