{% embed 'AppBundle::Glazen/header.html.twig' %}
    {% block og_title %}Traditionele Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Traditionele Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Bij traditionele glasbewassing worden uw ramen en kozijnen op de ouderwetse manier gereinigd. Wij zijn gespecialiseerd in deze manier van glazenwasserij. Ook al is deze methode van ramen wassen al eeuwenoud, hij is nog steeds zeer effectief. Wij zijn gespecialiseerd in het vakkundig reinigen van uw ramen door middel van deze traditionele glasbewassing. We maken hierbij gebruik van een emmer, een spons, een wisser en desnoods een ladder. Uw ramen streeploos gereinigd door onze glazenwassers met jarenlange ervaring. Betrouwbaar en professioneel.{% endblock %}
    {% block description %}Bij traditionele glasbewassing worden uw ramen en kozijnen op de ouderwetse manier gereinigd. Wij zijn gespecialiseerd in deze manier van glazenwasserij. Ook al is deze methode van ramen wassen al eeuwenoud, hij is nog steeds zeer effectief. Wij zijn gespecialiseerd in het vakkundig reinigen van uw ramen door middel van deze traditionele glasbewassing. We maken hierbij gebruik van een emmer, een spons, een wisser en desnoods een ladder. Uw ramen streeploos gereinigd door onze glazenwassers met jarenlange ervaring. Betrouwbaar en professioneel.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Wat is traditionele glasbewassing?</h3>
                <p>Bij traditionele glasbewassing worden uw ramen en kozijnen op de ouderwetse manier gereinigd. Wij zijn gespecialiseerd in deze manier van glazenwasserij. Ook al is deze methode van ramen wassen al eeuwenoud, hij is nog steeds zeer effectief. Wij zijn gespecialiseerd in het vakkundig reinigen van uw ramen door middel van deze traditionele glasbewassing. We maken hierbij gebruik van een emmer, een spons, een wisser en desnoods een ladder. Uw ramen streeploos gereinigd door onze glazenwassers met jarenlange ervaring. Betrouwbaar en professioneel.</p>
                <h3>Gecertificeerd en gekwalificeerd</h3>
                <p>Onze glazenwasserij is een onderdeel van DCA Dienstverlening. We voldoen aan de NEN 4400-1 normen, beschikken over het OSB Keurmerk en zijn aangesloten bij de VGM Checklist Aannemers. Al sinds 2002 zijn wij uw ideale partner als het gaat om traditionele glasbewassing. Omdat dit vak de nodige precisie en kennis vraagt, volgen onze glazenwassers met regelmaat een bijscholing. Ook doen wij onze winst met het bezoeken van verschillende vakbeurzen. Indien dit de kwaliteit van de glazenwasserij verhoogt, maken wij gebruik van nieuwe technieken. Onze glazenwassers wassen de kozijnen en ramen met materieel van hoogstaande kwaliteit. Neem contact op met onze ervaren glazenwasser en vul het formulier op de website in. We sturen u vrijblijvend een op maat gemaakte offerte.</p>
                <h3>Op zoek naar traditionele glasbewassing?</h3>
                <p>U bent ervan overtuigd dat schone ramen en kozijnen bijdragen aan een goede uitstraling van uw onderneming? U kijkt graag door heldere ruiten? Neem contact op met onze professionele glazenwasser. Op onze website vindt u een formulier waarop u een aantal gegevens kunt invullen. Wij kunnen u daarna een op maat gemaakte offerte toesturen. Dit alles is geheel gratis en vrijblijvend. Wij zorgen voor schone ramen voor zowel particulieren als zakelijke contacten. Zowel kleine als grotere klussen zijn bij ons in goede handen. Traditionele glasbewassing, door middel van spons en trekker, nodig voor woningbouwverenigingen, kleine ondernemingen, VvE’s of uw eigen woning? Neem nu direct contact met ons op en maak gebruik van de diensten van onze vakman.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Glazen/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Glazen/footer.html.twig' %}{% endembed %}