{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen. Wij zijn een onderdeel van DCA Dienstverlening, beschikken over het OSB Keurmerk, voldoen aan de NEN 4400-1 normen en we zijn aangesloten bij de VGM Checklist Aannemers.{% endblock %}
    {% block description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen. Wij zijn een onderdeel van DCA Dienstverlening, beschikken over het OSB Keurmerk, voldoen aan de NEN 4400-1 normen en we zijn aangesloten bij de VGM Checklist Aannemers.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 service-detail">
                <div class="service-box">
                    {% for blog in blogs %}
                        <h2>{{ blog.title|replace({'*stadsnaam*': website.websiteCity}) }}</h2>
                        <p>
                            {{ blog.post|slice(0, 500)|replace({'*stadsnaam*': website.websiteCity})|raw }}...
                        </p>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p>Geschreven door: {{ blog.author }}</p>
                                <p>Datum gepubliceerd: {{ blog.datetimePublished|date('d-m-Y') }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p><a href="{{ blog.path }}" class="btn btn-default btn-block no-margin">Lees verder...</a></p>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Wilt u een snelle offerte op maat?</h3>
                <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}