{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Contact/Offerte - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Contact/Offerte - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.{% endblock %}
    {% block description %}Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.{% endblock %}
{% endembed %}

<div class="embed-container maps">
    <iframe width="100%" height="350" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC_J69a6jM5JbQJfBUTvCLTKfOYuHxIXks&amp;q={{ website.websiteCity }}&amp;zoom=14" allowfullscreen="">
    </iframe>
</div>

<div class="contact-us-1 container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-12">
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <p class="flashbag-error">{{ flashMessage }}</p>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <p class="flashbag-success">{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h3>Vrijblijvende offerte op maat</h3>
                <p>Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.</p>
                <h3>Met wie hebben wij het genoegen?</h3>
                <form action="{{ path('offerte') }}" id="contactform" method="POST">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="naam" class="form-control" placeholder="Voor- en achternaam (verplicht)" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="bedrijfsnaam" class="form-control" placeholder="Bedrijfsnaam"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="email" id="email" name="email" class="form-control" placeholder="E-mail (verplicht)" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="telefoonnummer" class="form-control" placeholder="Telefoonnummer"/>
                            </div>
                        </div>
                    </div>
                    <h3>Gegevens over uw bedrijfsruimte, pand of woning</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="adres" class="form-control" placeholder="Adres"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="huisnummer" class="form-control" placeholder="Huisnummer"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="postcode" class="form-control" placeholder="Postcode (verplicht)" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="stad" class="form-control" placeholder="Stad (verplicht)" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="datum" id="datepicker" class="form-control" placeholder="Gewenste datum"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="ramen" class="form-control" placeholder="Aantal m2"/>
                            </div>
                        </div>
                    </div>
                    <h3>Eventuele opmerkingen</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control" name="opmerkingen" rows="5" id="comment" placeholder="Eventuele opmerkingen..."></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcRl30UAAAAAIRyXXh6E-z56x5yVvjjdBDBbeDj"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 no-margin">
                            <input type="submit" class="btn-default btn-block no-margin" value="Verstuur offerte verzoek"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Wilt u een snelle offerte op maat?</h3>
                <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}