{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Professionele Gevelreiniging in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Professionele Gevelreiniging in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
    {% block description %}Wij van {{ website.websiteTItle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Gevelreiniging op maat.</h3>
                <p>Uw gevels zijn toe aan een uitgebreide gevelreiniging? Het voegwerk van uw bedrijf in {{ city|capitalize }} - {{ district|capitalize }} moet nodig vervangen worden? U bent op zoek naar vakmensen met ervaring die uw gevel kunnen impregneren? Last van graffiti en het liefst zo snel mogelijk graffiti reiniging in {{ city|capitalize }} - {{ district|capitalize }}? Bij ons bent u voor al deze zaken precies aan het goede adres. Wij zijn onderdeel van DCA Dienstverlening en aangesloten bij de VGM Aannemers. We voldoen aan de NEN 4400-1 normen en hebben de beschikking over het OSB Keurmerk. Voor een vakkundige gevelreiniging in {{ city|capitalize }} - {{ district|capitalize }} neemt u direct contact met ons op. Vul hiervoor uw gegevens in op het contactformulier op onze website. Wij nemen dan spoedig contact met u op en kunnen u van dienst zijn met een nauwkeurige offerte. Gevelreinigers {{ city|capitalize }} - {{ district|capitalize }} zoals u het mag verwachten. Betrouwbare vakmensen met jarenlange ervaring. Wij zijn er voor iedereen. Zowel particulieren als zakelijke contacten zijn bij ons welkom.</p>
                <h3>Alles op het gebied van gevelreiniging in {{ city|capitalize }} - {{ district|capitalize }}</h3>
                <p>U woont in {{ city|capitalize }} - {{ district|capitalize }} en merkt dat het voegwerk van uw woning nodig aan vervanging toe is? U heeft last van schimmelvorming en hebt besloten dat u de gevels laat impregneren? Uw bedrijfspand is nodig toe aan een gevelrenovatie? Voor alles op het gebied van gevel onderhoud en gevelreiniging {{ city|capitalize }} - {{ district|capitalize }} bent u bij ons aan het juiste adres. We maken gebruik van diverse technieken en verschillende materialen om het onderhoud en de reiniging zo goed mogelijk uit te kunnen voeren. Onze gevelreinigers zijn gecertificeerd en hebben jarenlange ervaring. Neem nu direct contact met ons op voor een op maat gemaakte offerte.</p>
                <h3>Vul het contactformulier in en wij helpen u verder</h3>
                <p>Onze professionele vakmensen staan graag voor u klaar. Als u besluit ons in te schakelen voor de gevelreiniging, het voegwerk, het schilderwerk, graffiti reiniging of andere gevelwerken, dan maken wij op korte termijn een afspraak met u. Op ons kunt u vertrouwen en wij leveren werk van hoge kwaliteit. U zult zien dat uw pand of woning er na de gevelreiniging weer als nieuw uitziet. Hoe nauwkeuriger u de gegevens invoert op ons contactformulier, hoe preciezer wij een offerte voor u kunnen maken. Wij zijn u graag van dienst. Gevelreiniging van hoge kwaliteit overal in {{ city|capitalize }} - {{ district|capitalize }}.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}