{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Gevel Impregneren - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Gevel Impregneren - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Door het impregneren van uw gevel, maakt u deze min of meer waterdicht. Dankzij de gevel impregneer is uw gevel voortaan water- en vuilafstotend. Neem contact op met de deskundige gevelreinigers en laat ons uw gevel impregneren. Wij zijn een onderdeel van DCA Dienstverlening, voldoen aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Ook zijn we aangesloten bij de VGM Checklist Aannemers. U wilt op korte termijn uw gevel impregneren? Vul uw gegevens in op het formulier op onze website en wij nemen snel contact met u op. We maken voor u graag een op maat gemaakte offerte.{% endblock %}
    {% block description %}Door het impregneren van uw gevel, maakt u deze min of meer waterdicht. Dankzij de gevel impregneer is uw gevel voortaan water- en vuilafstotend. Neem contact op met de deskundige gevelreinigers en laat ons uw gevel impregneren. Wij zijn een onderdeel van DCA Dienstverlening, voldoen aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Ook zijn we aangesloten bij de VGM Checklist Aannemers. U wilt op korte termijn uw gevel impregneren? Vul uw gegevens in op het formulier op onze website en wij nemen snel contact met u op. We maken voor u graag een op maat gemaakte offerte.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Uw gevel impregneren?</h3>
                <p>Door het impregneren van uw gevel, maakt u deze min of meer waterdicht. Dankzij de gevel impregneer is uw gevel voortaan water- en vuilafstotend. Neem contact op met de deskundige gevelreinigers en laat ons uw gevel impregneren. Wij zijn een onderdeel van DCA Dienstverlening, voldoen aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Ook zijn we aangesloten bij de VGM Checklist Aannemers. U wilt op korte termijn uw gevel impregneren? Vul uw gegevens in op het formulier op onze website en wij nemen snel contact met u op. We maken voor u graag een op maat gemaakte offerte.</p>
                <h3>Voordelen van gevel impregneren</h3>
                <p>
                    <ul>
                    <li>Doordat de gevel geen water meer doorlaat, wordt vochtdoorslag voorkomen.</li>
                    <li>Geen last meer van algen en schimmels.</li>
                    <li>Het voegwerk gaat langer mee en omdat de muur niet nat meer wordt, heeft u geen last van vorstschade aan voegwerk en metselwerk.</li>
                    <li>De gevel wordt dankzij het impregneren minder snel vies. - Het voegwerk gaat langer mee en blijft ook langer mooi.</li>
                    <li>Extra brandwerend.</li>
                    </ul>
                </p>
                <h3>Gevel impregneren voor particulieren en bedrijven</h3>
                <p>U heeft een mooie oude woning, maar merkt dat er beslist gevelonderhoud nodig is? Het voegwerk is lelijk geworden? Wij zijn u graag van dienst en een goede oplossing kan zijn dat u de gevel laat impregneren. Dit biedt u diverse voordelen en uw woning zal weer een betere uitstraling hebben. Wij zijn er voor zowel zakelijke contacten als voor particulieren. U heeft een onderneming? U regelt het onderhoud voor de woningbouwvereniging? Neem contact met ons op en vul het formulier op onze website in. Vakkundige impregnatie van uw gevel!</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}