{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Gevel Reiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Gevel Reiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen. Wij zijn een onderdeel van DCA Dienstverlening, beschikken over het OSB Keurmerk, voldoen aan de NEN 4400-1 normen en we zijn aangesloten bij de VGM Checklist Aannemers.{% endblock %}
    {% block description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen. Wij zijn een onderdeel van DCA Dienstverlening, beschikken over het OSB Keurmerk, voldoen aan de NEN 4400-1 normen en we zijn aangesloten bij de VGM Checklist Aannemers.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
                <h3>Gevel reiniging voor het behoud van uw pand</h3>
                <p>De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen. Wij zijn een onderdeel van DCA Dienstverlening, beschikken over het OSB Keurmerk, voldoen aan de NEN 4400-1 normen en we zijn aangesloten bij de VGM Checklist Aannemers.</p>
                <h3>Diverse methoden voor gevel reiniging</h3>
                <p>
                    Afhankelijk van het soort vuil waar u mee te maken heeft, kiezen wij de juiste methode om de gevel te reinigen. De manier van gevelreiniging is ook afhankelijk van de omgeving waar uw pand zich bevindt. De soorten reiniging die onder meer mogelijk zijn:
                    <ul>
                    <li>Stralen als gevelreiniging. Bij deze methode mengen we het water met straalmiddel en spuiten we het onder grote druk tegen de gevel. Dit is vooral geschikt wanneer u te maken heeft met ernstige vervuiling, zoals bijvoorbeeld roet en graffiti.</li>
                    <li>Gevel reinigen door middel van stoom. Bij deze methode wordt het water verhit tot 150 graden en daarna onder grote druk tegen de muur gespoten. Een goede optie wanneer er mos of klimop verwijderd moet worden.</li>
                    <li>Laserreiniging. Bij deze methode wordt hardnekkig vuil verwijderd door middel van intensief licht.</li>
                    <li>Chemische gevelreiniging. De gevelreinigers brengen een chemisch reinigingsmiddel aan op de wand. Hierdoor lost het vuil op. Dit wordt daarna door middel van water van de muur afgespoeld. Het water wordt gerecycled. Een prima methode wanneer u te maken heeft met een matige vervuiling.</li>
                    </ul>
                    U vraagt zich af welke manier van gevelreiniging voor u het meest effectief is? Neem nu contact met ons op en we helpen u graag verder. Gevelreinigers met jarenlange ervaring.
                </p>
                <h3>Milieuvriendelijke manier van gevel reiniging</h3>
                <p>Is het voor u van groot belang dat de gevel op een milieuvriendelijke manier wordt gereinigd? Dit is bij ons geen enkel probleem. We kunnen dan bijvoorbeeld kiezen voor de methode van het vochtstralen. Een bijkomend voordeel van deze methode is dat we stofvrij kunnen werken en dat de overlast tot een minimum beperkt kan worden. Kunnen wij u helpen met een deskundige en betrouwbare gevelreiniging? Vul dan nu het contactformulier op onze website in. Wij maken dan voor u een op maat gemaakte offerte. Wij zijn u graag van dienst. Iedereen is bij ons welkom, of het nu gaat om VvE’s, woningbouwverenigingen of particulieren, neem gerust contact met ons op.</p>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}