{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Graffiti Reiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Graffiti Reiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Heeft u last van aanstootgevende teksten en lelijke tekens op uw pand? Wij begrijpen dat dit erg ontsierend is en dat u dit het liefst zo snel mogelijk verwijderd wilt hebben. Voor een deskundige graffiti reiniging bent u bij ons op de goede plek. We hebben jarenlange ervaring met het reinigen van muren en maken gebruik van de nieuwste technieken. Het is van belang om niet te lang te wachten met de graffitireiniging, want de ervaring leert dat het heel aantrekkelijk is voor vandalen om juist een pand uit te kiezen waar al graffiti aanwezig is. Wij kunnen de graffiti met spoed voor u verwijderen. Neem contact op voor een betrouwbare en effectieve graffiti reiniging. U vindt op onze website een contactformulier. Als u hierop uw gegevens invult, sturen wij u een offerte. Exact voor u op maat gemaakt.{% endblock %}
    {% block description %}Heeft u last van aanstootgevende teksten en lelijke tekens op uw pand? Wij begrijpen dat dit erg ontsierend is en dat u dit het liefst zo snel mogelijk verwijderd wilt hebben. Voor een deskundige graffiti reiniging bent u bij ons op de goede plek. We hebben jarenlange ervaring met het reinigen van muren en maken gebruik van de nieuwste technieken. Het is van belang om niet te lang te wachten met de graffitireiniging, want de ervaring leert dat het heel aantrekkelijk is voor vandalen om juist een pand uit te kiezen waar al graffiti aanwezig is. Wij kunnen de graffiti met spoed voor u verwijderen. Neem contact op voor een betrouwbare en effectieve graffiti reiniging. U vindt op onze website een contactformulier. Als u hierop uw gegevens invult, sturen wij u een offerte. Exact voor u op maat gemaakt.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Graffiti is bijzonder ontsierend</h3>
                <p>Heeft u last van aanstootgevende teksten en lelijke tekens op uw pand? Wij begrijpen dat dit erg ontsierend is en dat u dit het liefst zo snel mogelijk verwijderd wilt hebben. Voor een deskundige graffiti reiniging bent u bij ons op de goede plek. We hebben jarenlange ervaring met het reinigen van muren en maken gebruik van de nieuwste technieken. Het is van belang om niet te lang te wachten met de graffitireiniging, want de ervaring leert dat het heel aantrekkelijk is voor vandalen om juist een pand uit te kiezen waar al graffiti aanwezig is. Wij kunnen de graffiti met spoed voor u verwijderen. Neem contact op voor een betrouwbare en effectieve graffiti reiniging. U vindt op onze website een contactformulier. Als u hierop uw gegevens invult, sturen wij u een offerte. Exact voor u op maat gemaakt.</p>
                <h3>Hoe wordt de graffiti verwijderd</h3>
                <p>Wij kunnen u alvast wel vertellen dat het onmogelijk is om de graffiti reiniging zelf ter hand te nemen. Met een emmer vol heet water en sop wordt het reinigen absoluut geen succes. Verf is een agressieve stof en daarom kunt u de reiniging het beste uitbesteden aan vakmannen met ervaring. Wanneer u ons inschakelt voor een deskundige graffiti reiniging, bekijken we welke methode het beste is in uw situatie. De graffitireinigers kunnen gebruik maken van een chemische manier van reinigen. Dit is voor u redelijk goedkoop, maar minder goed voor het milieu. Het is ook mogelijk om te kiezen voor een reiniging met de hogedrukspuit. Eventueel in combinatie met een biologisch afbreekbaar middel. Welke manier van graffiti reiniging het beste is voor uw pand, is afhankelijk van de verschillende omgevingsfactoren. Neem nu contact op voor een effectieve graffiti reiniging.</p>
                <h3>Onderdeel van DCA Dienstverlening</h3>
                <p>Wij zijn een onderdeel van DCA Dienstverlening en hebben alleen gecertificeerde graffiti reinigers in dienst. Daarnaast zijn we aangesloten bij de VGM Checklist Aannemers en ook blijven we, door het volgen van bijscholing, op de hoogte van de nieuwste technieken en methoden. We beschikken over het OSB Keurmerk en voldoen aan de NEN 4400-1 normen. Vul nu uw gegevens in op onze website en we sturen u een op maat gesneden offerte.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}