{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen.{% endblock %}
    {% block description %}De gevel bepaalt voor een groot gedeelte de uitstraling van uw bedrijf of woning. Gevelreiniging is jarenlang een ondergeschoven kindje geweest, maar het wordt steeds duidelijker hoe belangrijk een regelmatige gevelreiniging is. Gevels kunnen diverse soorten bevuiling bevatten. U kunt hierbij denken aan mos, allerlei aanslag, viezigheid, vuil en uitlaatgassen. Neem contact op met de professionele gevelreinigers en uw gevel wordt grondig schoongemaakt. We beschikken over de juiste apparatuur, verschillende technieken en jaren ervaring ,zodat we zelfs het meest hardnekkige vuil kunnen verwijderen.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/slider.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/werkgebied.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}