{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Overige Diensten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Overige Diensten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Naast de diensten op het gebied van gevelreiniging, kunnen wij u ook van dienst zijn als het gaat om glasbewassing. Schone ramen en kozijnen zorgen voor een goede uitstraling van uw pand. Onze glazenwassers leveren perfect werk en wassen op een ambachtelijke wijze uw ramen en kozijnen. Ook wanneer u te maken heeft met ruiten op grote hoogte, zijn wij uw ideale partner. We zijn al jaren actief op het gebied van zowel gevelreiniging als glasbewassing en leveren alleen werk van hoge kwaliteit. We voldoen dan ook aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Daarnaast zijn we aangesloten bij de VGM Checklist. Zowel particulieren als zakelijke contacten zijn van harte welkom bij ons. Neem contact met ons op en vul uw gegevens in op onze website. U vindt daarvoor een speciaal formulier. Wanneer wij dat van u ontvangen hebben, sturen we u een op maat gemaakte offerte.{% endblock %}
    {% block description %}Naast de diensten op het gebied van gevelreiniging, kunnen wij u ook van dienst zijn als het gaat om glasbewassing. Schone ramen en kozijnen zorgen voor een goede uitstraling van uw pand. Onze glazenwassers leveren perfect werk en wassen op een ambachtelijke wijze uw ramen en kozijnen. Ook wanneer u te maken heeft met ruiten op grote hoogte, zijn wij uw ideale partner. We zijn al jaren actief op het gebied van zowel gevelreiniging als glasbewassing en leveren alleen werk van hoge kwaliteit. We voldoen dan ook aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Daarnaast zijn we aangesloten bij de VGM Checklist. Zowel particulieren als zakelijke contacten zijn van harte welkom bij ons. Neem contact met ons op en vul uw gegevens in op onze website. U vindt daarvoor een speciaal formulier. Wanneer wij dat van u ontvangen hebben, sturen we u een op maat gemaakte offerte.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>DCA Dienstverlening</h3>
                <p>Naast de diensten op het gebied van gevelreiniging, kunnen wij u ook van dienst zijn als het gaat om glasbewassing. Schone ramen en kozijnen zorgen voor een goede uitstraling van uw pand. Onze glazenwassers leveren perfect werk en wassen op een ambachtelijke wijze uw ramen en kozijnen. Ook wanneer u te maken heeft met ruiten op grote hoogte, zijn wij uw ideale partner. We zijn al jaren actief op het gebied van zowel gevelreiniging als glasbewassing en leveren alleen werk van hoge kwaliteit. We voldoen dan ook aan de NEN 4400-1 normen en beschikken over het OSB Keurmerk. Daarnaast zijn we aangesloten bij de VGM Checklist. Zowel particulieren als zakelijke contacten zijn van harte welkom bij ons. Neem contact met ons op en vul uw gegevens in op onze website. U vindt daarvoor een speciaal formulier. Wanneer wij dat van u ontvangen hebben, sturen we u een op maat gemaakte offerte.</p>
                <h3>Glasbewassing</h3>
                <p>Schone ramen zorgen voor een frisse uitstraling en daarom is het zeker belangrijk dat ramen en kozijnen zeer regelmatig worden gereinigd. Wij bieden professionele glasbewassing op iedere hoogte. Overheidsinstellingen, particulieren, hotels, woningbouwverenigingen, ondernemers en particulieren zijn bij ons aan het juiste adres. Glasbewassing vraagt om ervaring en kennis en bij ons vindt u beiden. U bent op zoek naar traditionele glasbewassing van uw ramen? Gewoon met een emmer, een spons en een trekker? U heeft telebewassing nodig? Neem contact met ons op en wij staan voor u klaar. Wanneer u ramen op zeer grote hoogte heeft, kunnen wij u van dienst zijn met onze hoogwerker. Neem nu direct contact met ons op.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}