{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Schilderwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Schilderwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Goed schilderwerk is van groot belang voor de uitstraling van uw woning of bedrijf. U betrekt een nieuw pand en wilt het schilderwerk binnen uitbesteden? Het schilderwerk is nodig aan een nieuwe laag verf toe? Neem contact met ons op en we sturen u een op maat gemaakte offerte. Onze gecertificeerde schilders hebben jaren ervaring en staan graag voor u klaar. Of u nu kozijnen, deuren, muren, plinten, plafonds of vloeren wilt laten schilderen, wij regelen het voor u. We werken uiteraard streeploos en zorgen voor een perfecte afwerking. Voor schilderwerk van hoogwaardige kwaliteit neemt u nu direct contact met ons op. Zowel particulieren als bedrijven zijn van harte welkom.{% endblock %}
    {% block description %}Goed schilderwerk is van groot belang voor de uitstraling van uw woning of bedrijf. U betrekt een nieuw pand en wilt het schilderwerk binnen uitbesteden? Het schilderwerk is nodig aan een nieuwe laag verf toe? Neem contact met ons op en we sturen u een op maat gemaakte offerte. Onze gecertificeerde schilders hebben jaren ervaring en staan graag voor u klaar. Of u nu kozijnen, deuren, muren, plinten, plafonds of vloeren wilt laten schilderen, wij regelen het voor u. We werken uiteraard streeploos en zorgen voor een perfecte afwerking. Voor schilderwerk van hoogwaardige kwaliteit neemt u nu direct contact met ons op. Zowel particulieren als bedrijven zijn van harte welkom.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Binnen schilderen</h3>
                <p>Goed schilderwerk is van groot belang voor de uitstraling van uw woning of bedrijf. U betrekt een nieuw pand en wilt het schilderwerk binnen uitbesteden? Het schilderwerk is nodig aan een nieuwe laag verf toe? Neem contact met ons op en we sturen u een op maat gemaakte offerte. Onze gecertificeerde schilders hebben jaren ervaring en staan graag voor u klaar. Of u nu kozijnen, deuren, muren, plinten, plafonds of vloeren wilt laten schilderen, wij regelen het voor u. We werken uiteraard streeploos en zorgen voor een perfecte afwerking. Voor schilderwerk van hoogwaardige kwaliteit neemt u nu direct contact met ons op. Zowel particulieren als bedrijven zijn van harte welkom.</p>
                <h3>Buiten schilderen</h3>
                <p>Zeker buitenschilderwerk vraagt om vakmanschap en precisie. U bent hiervoor bij ons aan het juiste adres. Onze schilders controleren het houtwerk en de kozijnen op eventuele gaten en scheuren. Als dit nodig is, verwijderen we de kit en vervangen deze door een nieuwe kitlaag. Pas wanneer de voorbereiding geheel is afgerond, brengen wij een nieuwe verflaag aan. Goed verfwerk zorgt voor het behoud van uw houtwerk en geeft uw bedrijf of woning een perfecte uitstraling. Neem contact met ons op en we sturen u een op maat gemaakte offerte.</p>
                <h3>Perfect schilderwerk voor particulieren en zakelijke contacten</h3>
                <p>Streeploos verfwerk is voor u van groot belang? U hecht veel waarde aan een goede uitstraling van uw pand? Op korte termijn schilderwerk van goede kwaliteit nodig? Neem contact met ons op en wij staan voor u klaar. We zijn onderdeel van DCA Dienstverlening en aangesloten bij VGM Checklist Aannemers. Alle schilders zijn gecertificeerd en houden hun kennis bij door middel van een regelmatige bijscholing. We beschikken over het OSB Keurmerk en voldoen aan de NEN 4400-1 normen. Van harte welkom!</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}