<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="section-header">
            <h3>Gevelreiniging diensten</h3>
        </div>
        <div class="col-md-12 service-detail">
            <div class="row equal">
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Gevelreiniging</h3>
                    <p>Weersomstandigheden zorgen ervoor dat uw gevel na verloop van tijd vervuild raakt. Het is belangrijk om gevels regelmatig te reinigen. Op die manier zorgt u voor een goede bescherming en blijft de kwaliteit van de gevels behouden. Het schoonmaken kan op verschillende manieren worden uitgevoerd.</p>
                    <a href="{{ path('gevel_service_1') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Graffiti Reiniging</h3>
                    <p>Graffiti is een veelvoorkomend en bijzonder vervelend probleem. Zelf graffiti verwijderen is welhaast geen optie en de graffiti laten zitten is ook geen goede oplossing. Er zijn diverse manieren waarop de graffiti kan worden verwijderd en u zult merken dat uw pand er nadien weer uitziet als nieuw.</p>
                    <a href="{{ path('gevel_service_2') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Gevel Impregneren</h3>
                    <p>De gevel impregneren heeft als gevolg dat de muur geen water meer doorlaat. Daarnaast wordt de gevel dankzij het impregneren schimmelwerend. Ook werkt impregneermiddel brandvertragend en vormt het een goede bescherming tegen graffiti. Zo goed als alle soorten gevels komen in aanmerking voor een behandeling.</p>
                    <a href="{{ path('gevel_service_3') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Voegwerk</h3>
                    <p>Goed voegwerk maakt een muur vaak helemaal af. Het is hierbij wel van belang dat de voeg op een professionele manier wordt aangebracht. Na verloop van tijd kan het goed zijn om het voegwerk te laten herstellen. Vaak is het hierbij niet noodzakelijk dat het voegwerk compleet wordt vernieuwd.</p>
                    <a href="{{ path('gevel_service_4') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Schilderwerk</h3>
                    <p>Schilderwerk speelt een belangrijke rol als het gaat om het behoud van een woning of een bedrijfspand. In de eerste plaats zorgt schilderwerk voor een goede afwerking, maar daarnaast heeft het ook een belangrijke beschermende functie. Om de paar jaar dient het schilderwerk te worden vervangen.</p>
                    <a href="{{ path('gevel_service_5') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-box read-more">
                    <h3>Overige Diensten</h3>
                    <p>DCA Dienstverlening kan u ook van dienst zijn als het gaat om glazenwasserij. U kunt bij ons terecht voor een traditionele glasbewassing met emmer, spons en trekker. Ook is het mogelijk om ramen op grote hoogte te laten reinigen door middel van telebewassing of met een hoogwerker.</p>
                    <a href="{{ path('gevel_service_6') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
            </div>
        </div>
    </div>
</div>