{% embed 'AppBundle::Gevel/header.html.twig' %}
    {% block og_title %}Voegwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Voegwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Goed voegwerk bepaalt in grote mate de duurzaamheid hiervan. Daarnaast zorgt goed voegwerk ook voor een betere uitstraling. Wanneer u te maken heeft met scheuren en barsten in het voegwerk kunt u last krijgen van verschillende problemen. Dit kan namelijk leiden tot vochtoverlast. Er zijn verschillende oorzaken aan te wijzen die het voegwerk aantasten. Denk hierbij bijvoorbeeld aan autogassen, weersomstandigheden of mossen. Op zoek naar nieuw voegwerk? U wilt het voegwerk laten herstellen? Wij helpen u graag op een vakkundige wijze. Onze gecertificeerde vakman staat voor u klaar. U kunt contact met ons opnemen via de website. U vindt daar een formulier waarop u uw gegevens kunt invullen. Wij sturen u daarna spoedig een op maat gemaakte offerte.{% endblock %}
    {% block description %}Goed voegwerk bepaalt in grote mate de duurzaamheid hiervan. Daarnaast zorgt goed voegwerk ook voor een betere uitstraling. Wanneer u te maken heeft met scheuren en barsten in het voegwerk kunt u last krijgen van verschillende problemen. Dit kan namelijk leiden tot vochtoverlast. Er zijn verschillende oorzaken aan te wijzen die het voegwerk aantasten. Denk hierbij bijvoorbeeld aan autogassen, weersomstandigheden of mossen. Op zoek naar nieuw voegwerk? U wilt het voegwerk laten herstellen? Wij helpen u graag op een vakkundige wijze. Onze gecertificeerde vakman staat voor u klaar. U kunt contact met ons opnemen via de website. U vindt daar een formulier waarop u uw gegevens kunt invullen. Wij sturen u daarna spoedig een op maat gemaakte offerte.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Het belang van goed voegwerk</h3>
                <p>Goed voegwerk bepaalt in grote mate de duurzaamheid hiervan. Daarnaast zorgt goed voegwerk ook voor een betere uitstraling. Wanneer u te maken heeft met scheuren en barsten in het voegwerk kunt u last krijgen van verschillende problemen. Dit kan namelijk leiden tot vochtoverlast. Er zijn verschillende oorzaken aan te wijzen die het voegwerk aantasten. Denk hierbij bijvoorbeeld aan autogassen, weersomstandigheden of mossen. Op zoek naar nieuw voegwerk? U wilt het voegwerk laten herstellen? Wij helpen u graag op een vakkundige wijze. Onze gecertificeerde vakman staat voor u klaar. U kunt contact met ons opnemen via de website. U vindt daar een formulier waarop u uw gegevens kunt invullen. Wij sturen u daarna spoedig een op maat gemaakte offerte.</p>
                <h3>Diverse types voegwerk</h3>
                <p>Er zijn verschillende soorten voegen. Wij helpen u graag met het herstellen of renoveren van verouderd voegwerk. Bij woningen treffen we vaak een platvolle voeg aan. Dit is het goedkoopste voegwerk voor een huis. Bij een monumentaal pand wordt vaak gekozen voor een ander soort voeg. U kunt bij ons terecht voor het renoveren van onder meer : de schaduwvoeg, de gesneden voeg, de holle voeg, de knipvoeg en de teruggehouden voeg. Heeft u vragen over het voegwerk van uw pand? Neem contact met ons op en we helpen u graag verder.</p>
                <h3>Voegwerk van hoogstaande kwaliteit</h3>
                <p>Wij zijn onderdeel van DCA Dienstverlening en hebben alleen gecertificeerde vakmannen in dienst. We zijn aangesloten bij de VGM Checklist Aannemers en beschikken over het OSB Keurmerk. Ook voldoen we aan de NEN 4400-1 normen. Iedereen is bij ons van harte welkom. Of het nu gaat om particulieren of zakelijke contacten, wij zijn u graag van dienst. Gevelonderhoud van hoogwaardige kwaliteit. Neem nu contact op en wij helpen u graag.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Gevel/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Gevel/footer.html.twig' %}{% endembed %}