<div class="counter-section container-fluid">
    <div class="container">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter-box">
                <i class="fa fa-check"></i>
                <h3>VGM</h3>
                <p>Aangesloten bij de VGM Checklist Aannemers.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter-box">
                <i class="fa fa-bookmark"></i>
                <h3>OSB</h3>
                <p>Beschikken over het OSB Keurmerk.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter-box">
                <i class="fa fa-certificate"></i>
                <h3>NEN</h3>
                <p>Voldoen aan de NEN 4400-1 normen.</p>
            </div>
        </div>
    </div>
</div>