{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Professionele Stukadoor in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Professionele Stukadoor in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
    {% block description %}Wij van {{ website.websiteTItle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Stukadoors in {{ city|capitalize }} - {{ district|capitalize }}</h3>
                <p>Is uw bedrijf toe aan een renovatie? Besteedt u al deze werkzaamheden graag uit aan ervaren en deskundige stukadoors in {{ city|capitalize }} - {{ district|capitalize }}? Dan bent u bij ons aan het juiste adres. Wij hebben enkel stukadoors met een goede opleiding en voldoende ervaring in dienst. We zijn een onderdeel van DCA Dienstverlening en een goede service en uitmuntende kwaliteit zijn voor ons van groot belang. Wilt u een nieuwe look in uw woning? Moeten de plafonds en muren nodig worden aangepakt? Is het schilderwerk aan vervanging toe? Neem dan nu contact met ons op en we kunnen ongetwijfeld iets voor u betekenen.</p>

                <h3>Alle stukadoorswerkzaamheden in goede handen</h3>
                <p>Wanneer u besluit dat uw woning of bedrijf verbouwd moet worden, komt hier veel werk bij kijken. Maak gebruik van de diensten van de stukadoors in {{ city|capitalize }} - {{ district|capitalize }}. We staan graag voor u klaar en houden rekening met uw specifieke wensen. Heeft u de oude badkamer eruit gesloopt? Heeft u geen idee hoe u de wanden weer in goede staat krijgt? Wij helpen u graag door middel van raapwerk. Daarna kunt u weer alle kanten op met de muren van de badkamer. Maak gebruik van onze veelzijdige diensten. Of het nu gaat om het aanbrengen van spachtelputz, sierpleisters, schilderwerk binnen of buiten of latex spuiten, de stukadoors van {{ city|capitalize }} - {{ district|capitalize }} staan graag voor u klaar.</p>


                <h3>De stukadoors van {{ city|capitalize }} - {{ district|capitalize }} zijn er voor zowel bedrijven als particulieren</h3>
                <p>Of het nu gaat om een kleine klus in uw woning of om een uitgebreid project van een woningbouwvereniging of onderneming, de stukadoors van {{ city|capitalize }} - {{ district|capitalize }} zijn u graag van dienst. Heeft u een verbouwing achter de rug en wilt u latex laten spuiten? Betrekt u binnenkort een nieuwbouwwoning en moeten er nog sierpleisters worden aangebracht? Vraag nu vrijblijvend een offerte aan en wij laten u zo snel mogelijk weten wat we voor u kunnen betekenen.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}