</main>

<footer id="footer-main" class="footer-main container-fluid">
    <div class="container">
        <aside class="col-md-3 col-sm-3 col-xs-12 ftr-widget widget_guide">
            <h3 class="widget-title">De Stukadoors in van {{ website.websitecity }}</h3>
            <ul>
                <li><a href="{{ path('stukadoor_service_1') }}" title="Stukadoren">Stukadoren</a></li>
                <li><a href="{{ path('stukadoor_service_2') }}" title="Spachtelputz">Spachtelputz</a></li>
                <li><a href="{{ path('stukadoor_service_3') }}" title="Sierpleister">Sierpleister</a></li>
                <li><a href="{{ path('stukadoor_service_4') }}" title="Latex spuiten">Latex spuiten</a></li>
                <li><a href="{{ path('stukadoor_service_5') }}" title="Schilderen binnen en buiten">Schilderen binnen en buiten </a></li>
                <li><a href="{{ path('stukadoor_service_6') }}" title="Raapwerk">Raapwerk</a></li>
            </ul>
            <br/><br/>
            <h3 class="widget-title">Contactgegevens</h3>
            <p>
                <strong>{{ website.websiteTitle }}</strong><br/>
                (DCA Dienstverlening - KvK: 67109802)<br/><br/>
                T: {{ website.phone }}<br/>
                @: <a href="mailto:{{ website.email }}">{{ website.email }}</a><br>
                W: <a href="http://{{ website.website }}" target="_blank">{{ website.website }}<a/><br>
            </p>
        </aside>
        <aside class="col-md-9 col-sm-9 col-xs-12 ftr-widget widget_info">
            <h3 class="widget-title">{{ website.websiteTitle }} zijn ook actief in de volgende steden:</h3>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-unstyled footer-link-list" style="column-count: 3;">
                        {% for footerWebsite in allWebsites %}
                            <li><a href="http://{{ footerWebsite.website }}" target="_blank">{{ footerWebsite.websiteTitle }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</footer>

<div class="copyright-section container-fluid no-padding">
    <div class="container">
        <div class="coyright-content" style="width: 100% !important;">
            <p>Copyright © 2016 - {{ "now"|date("Y") }} - {{ website.websiteTitle }} is een onderdeel van <a href="http://www.dcadienstverlening.nl">DCA Dienstverlening</a>. <span class="pull-right">Powered by <a href="https://www.puresoftware.nl">Pure Software</a></span></p>
            <p></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/app/stukadoor/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/stukadoor/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/stukadoor/js/functions.js') }}"></script>

</body>
</html>