{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Latex spuiten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Latex spuiten - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wilt u een andere kleur op de muren van uw woonkamer? Zijn er een aantal slaapkamers toe aan een nieuwe uitstraling? Wilt u uw kantoorpand een nieuwe frisse uitstraling geven? Latex spuiten is dan een uitstekende keus. Jarenlang was behangen de meest gebruikte manier om wanden te bekleden. Latex is echter een alternatief dat bij steeds meer mensen in de smaak valt. Een groot voordeel van latex spuiten is dat dit vele malen sneller klaar is dan het behangen van muren. Neem contact op met de stukadoors van {{ website.websiteCity }} en wij zorgen voor perfect afgewerkte muren. Wij zijn een onderdeel van DCA Dienstverlening en leveren professioneel werk. Latex is bijvoorbeeld ook een ideale optie bij nieuwbouw. Wij zijn er voor iedereen. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We maken uitsluitend gebruik van hoge kwaliteit latexverf. Een perfect resultaat is op deze manier absoluut gegarandeerd. Vul nu het formulier in op de website van de stukadoors van {{ website.websiteCity }} en u ontvangt van ons een op maat gemaakte offerte.{% endblock %}
    {% block description %}Wilt u een andere kleur op de muren van uw woonkamer? Zijn er een aantal slaapkamers toe aan een nieuwe uitstraling? Wilt u uw kantoorpand een nieuwe frisse uitstraling geven? Latex spuiten is dan een uitstekende keus. Jarenlang was behangen de meest gebruikte manier om wanden te bekleden. Latex is echter een alternatief dat bij steeds meer mensen in de smaak valt. Een groot voordeel van latex spuiten is dat dit vele malen sneller klaar is dan het behangen van muren. Neem contact op met de stukadoors van {{ website.websiteCity }} en wij zorgen voor perfect afgewerkte muren. Wij zijn een onderdeel van DCA Dienstverlening en leveren professioneel werk. Latex is bijvoorbeeld ook een ideale optie bij nieuwbouw. Wij zijn er voor iedereen. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We maken uitsluitend gebruik van hoge kwaliteit latexverf. Een perfect resultaat is op deze manier absoluut gegarandeerd. Vul nu het formulier in op de website van de stukadoors van {{ website.websiteCity }} en u ontvangt van ons een op maat gemaakte offerte.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Snel een andere kleur op uw muur</h3>
                <p>Wilt u een andere kleur op de muren van uw woonkamer? Zijn er een aantal slaapkamers toe aan een nieuwe uitstraling? Wilt u uw kantoorpand een nieuwe frisse uitstraling geven? Latex spuiten is dan een uitstekende keus. Jarenlang was behangen de meest gebruikte manier om wanden te bekleden. Latex is echter een alternatief dat bij steeds meer mensen in de smaak valt. Een groot voordeel van latex spuiten is dat dit vele malen sneller klaar is dan het behangen van muren. Neem contact op met de stukadoors van {{ website.websiteCity }} en wij zorgen voor perfect afgewerkte muren. Wij zijn een onderdeel van DCA Dienstverlening en leveren professioneel werk. Latex is bijvoorbeeld ook een ideale optie bij nieuwbouw. Wij zijn er voor iedereen. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We maken uitsluitend gebruik van hoge kwaliteit latexverf. Een perfect resultaat is op deze manier absoluut gegarandeerd. Vul nu het formulier in op de website van de stukadoors van {{ website.websiteCity }} en u ontvangt van ons een op maat gemaakte offerte.</p>
                <h3>Latex spuiten op plafonds en wanden</h3>
                <p>De stukadoors van {{ website.websiteCity }} maken gebruik van een Airless-spuitmachine. Op deze manier wordt de latex zeer snel aangebracht op zowel wanden als plafonds. Hierbij blijft de structuur van de ondergrond behouden. Ideaal om toe te passen bij onder meer spachtelputz, granol of afgewerkte gipsplaten. Het spuiten van de latex door middel van onze spuitmachine werkt het meest ideaal bij lege panden. Doe daarom een beroep op ons vakmanschap wanneer u gaat verhuizen of als u binnenkort een nieuwbouwpand betrekt.</p>
                <h3>De voordelen van latex spuiten</h3>
                <p>
                    De stukadoors van {{ website.websiteCity }} zetten graag de voordelen nog even voor u op een rijtje:
                </p>
                <ul>
                    <li>Er wordt minder verf gebruikt en dit is dus voordeliger en bovendien gunstig voor het milieu</li>
                    <li>U krijgt een strakker eindresultaat dan bij schilderen met kwast of roller</li>
                    <li>Een doorsnee huis kan over het algemeen binnen 2 dagen worden afgerond</li>
                </ul>
                <p>
                    Uiteraard zorgen de stukadoors van {{ website.websiteCity }} ook zelf voor het afplakken. Het is heel belangrijk dat dit uiterst secuur wordt gedaan. Hiermee staat of valt namelijk het eindresultaat. Vul nu uw gegevens in op onze website en we sturen u zo spoedig mogelijk een offerte. Altijd scherpe tarieven.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}