{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Raapwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Raapwerk - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wilt u uw muren mooi afgewerkt hebben, dan is een gladde en egale ondergrond zeer belangrijk. Raapwerk is een ideale werkwijze om te komen tot zo’n gladde ondergrond. Met behulp van een redelijk dikke laag gipsmortel worden ruwe plafonds en wanden vlak en strak gemaakt. Heeft u een gladde ondergrond nodig omdat u de muren wilt behangen of verven? Wilt u sierpleister aanbrengen op de wanden? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor perfect raapwerk. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We zijn een onderdeel van DCA Dienstverlening en hebben alleen ervaren en betrouwbare vakmensen in dienst.{% endblock %}
    {% block description %}Wilt u uw muren mooi afgewerkt hebben, dan is een gladde en egale ondergrond zeer belangrijk. Raapwerk is een ideale werkwijze om te komen tot zo’n gladde ondergrond. Met behulp van een redelijk dikke laag gipsmortel worden ruwe plafonds en wanden vlak en strak gemaakt. Heeft u een gladde ondergrond nodig omdat u de muren wilt behangen of verven? Wilt u sierpleister aanbrengen op de wanden? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor perfect raapwerk. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We zijn een onderdeel van DCA Dienstverlening en hebben alleen ervaren en betrouwbare vakmensen in dienst.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Raapwerk voor een gladde ondergrond</h3>
                <p>Wilt u uw muren mooi afgewerkt hebben, dan is een gladde en egale ondergrond zeer belangrijk. Raapwerk is een ideale werkwijze om te komen tot zo’n gladde ondergrond. Met behulp van een redelijk dikke laag gipsmortel worden ruwe plafonds en wanden vlak en strak gemaakt. Heeft u een gladde ondergrond nodig omdat u de muren wilt behangen of verven? Wilt u sierpleister aanbrengen op de wanden? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor perfect raapwerk. Zowel bedrijven als particulieren zijn bij ons aan het juiste adres. We zijn een onderdeel van DCA Dienstverlening en hebben alleen ervaren en betrouwbare vakmensen in dienst.</p>
                <h3>Raapwerk in keuken, toilet of badkamer</h3>
                <p>Ook in keukens, toiletten en badkamers is goed raapwerk onmisbaar. U kunt gebruik maken van onze diensten bij bijvoorbeeld nieuwbouwprojecten. Wilt u een van bovenstaande ruimten betegelen, dan zorgen wij ervoor dat het raapwerk juist niet glad wordt afgewerkt. Wanneer wij de ondergrond grof laten, zullen de tegels beter hechten. Voor elke klus hebben de stukadoors van {{ website.websiteCity }} de perfecte oplossing. Vul uw gegevens in op onze website en u ontvangt zo spoedig mogelijk een op maat gesneden offerte. Iedere klus is bij ons in goede handen.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}