{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Schilderen - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Schilderen - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Is uw woning toe aan een opfrisbeurt? Moet het buitenschilderwerk van uw bedrijfspand of een van de appartementencomplexen nodig gedaan worden? De stukadoors van {{ website.websiteCity }} staan graag voor u klaar. Of het nu gaat om verfwerk binnen of buiten, wij leveren een goede service en perfecte kwaliteit. We voorzien uw muren en plafonds graag van het door u gekozen verfproduct. Wij zijn een onderdeel van DCA Dienstverlening en garanderen zowel bedrijven als particulieren dat de klus vakkundig wordt geklaard. We zijn op de hoogte van de laatste ontwikkelingen en technieken en houden zoveel mogelijk rekening met het milieu.{% endblock %}
    {% block description %}Is uw woning toe aan een opfrisbeurt? Moet het buitenschilderwerk van uw bedrijfspand of een van de appartementencomplexen nodig gedaan worden? De stukadoors van {{ website.websiteCity }} staan graag voor u klaar. Of het nu gaat om verfwerk binnen of buiten, wij leveren een goede service en perfecte kwaliteit. We voorzien uw muren en plafonds graag van het door u gekozen verfproduct. Wij zijn een onderdeel van DCA Dienstverlening en garanderen zowel bedrijven als particulieren dat de klus vakkundig wordt geklaard. We zijn op de hoogte van de laatste ontwikkelingen en technieken en houden zoveel mogelijk rekening met het milieu.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Al uw schilderwerk in goede handen bij de stukadoors van {{ website.websiteCity }}</h3>
                <p>Is uw woning toe aan een opfrisbeurt? Moet het buitenschilderwerk van uw bedrijfspand of een van de appartementencomplexen nodig gedaan worden? De stukadoors van {{ website.websiteCity }} staan graag voor u klaar. Of het nu gaat om verfwerk binnen of buiten, wij leveren een goede service en perfecte kwaliteit. We voorzien uw muren en plafonds graag van het door u gekozen verfproduct. Wij zijn een onderdeel van DCA Dienstverlening en garanderen zowel bedrijven als particulieren dat de klus vakkundig wordt geklaard. We zijn op de hoogte van de laatste ontwikkelingen en technieken en houden zoveel mogelijk rekening met het milieu.</p>
                <h3>Vraag een gratis offerte aan voor buiten- of binnen schilderwerk</h3>
                <p>Wanneer u gebruik wilt maken van onze diensten, kunt u uw gegevens achterlaten op het formulier dat u vindt op onze website. Wij sturen u daarna zo spoedig mogelijk een op maat gesneden offerte toe. Iedereen is welkom bij de stukadoors van {{ website.websiteCity }}. Of het nu enkel gaat om de kinderslaapkamer of dat uw hele bedrijfspand geschilderd moet worden, wij staan voor u klaar. Indien u dit wenst, kunnen we ook uw partner zijn als het gaat om het onderhoud van het schilderwerk. Op die manier verlengt u de levensduur van hout en kozijnen. Onderhoud is van groot belang om bijvoorbeeld houtrot te voorkomen. De stukadoors van {{ website.websiteCity }} voor al het schilderwerk van particulieren, VvE’s, ondernemingen en woningbouwverenigingen. Betrouwbaar, ervaren en vakkundig. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}