<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="section-header">
            <h3>Stukadoor diensten van DCA Dienstverlening</h3>
            <p>Wij hebben alles in huis. Voor ieder probleem een oplossing.</p>
        </div>
        <hr>
        <div class="col-md-12 service-detail">
            <div class="row equal">
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Stukadoren</h3>
                    <p>Het stuken van plafonds en muren is bij ons in goede handen. Wij verrichten ook buiten constructie- en stucwerkzaamheden. Er is veel variatie mogelijk en het vakwerk en de professie van onze stukadoors zorgt hierbij voor unieke en onderscheiden effecten. De stukadoors van {{ website.websiteCity }} zorgen voor stukadoorswerk zoals u het wenst.</p>
                    <a href="{{ path('stukadoor_service_1') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Spachtelputz</h3>
                    <p>Spachtelputz is een kunststof gebonden sierpleister dat wordt aangebracht op zowel wanden als muren. Wilt u zeker weten dat de spachtelputz op perfecte wijze wordt aangebracht, maak dan gebruik van de diensten van de stukadoors van {{ website.websiteCity }}. Wij zorgen voor een strakke en egale structuur en kunnen, desgewenst, uw gehele huis afwerken in twee dagen.</p>
                    <a href="{{ path('stukadoor_service_2') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Sierpleister</h3>
                    <p>Wanneer u sierpleisters wilt aanbrengen in uw woning of kantoor, dient de ondergrond glad en vlak te zijn. Maak gebruik van de diensten van de stukadoors van {{ website.websiteCity }}. U kunt bij ons kiezen uit een grote hoeveelheid kleuren en kwaliteit en professie is bij ons van het allergrootste belang. We maken uitsluitende gebruik van hoogwaardige sierpleisters.</p>
                    <a href="{{ path('stukadoor_service_3') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Latex spuiten</h3>
                    <p>Kiest u voor latex spuiten in plaats van traditioneel schilderwerk? Het grote voordeel is dat het werk dan vele malen sneller is afgerond. Ook zal het prijskaartje een stuk lager zijn. De stukadoors van {{ website.websiteCity }} brengen de latex met behulp van een spuitmachine aan op uw wanden en plafonds. U kunt vertrouwen op onze ervaring en vakmanschap.</p>
                    <a href="{{ path('stukadoor_service_4') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Schilderen binnen en buiten</h3>
                    <p>Al uw schilderwerk is bij ons in goede handen. Wij hebben enkel ervaren mensen in dienst, maken gebruik van de beste materialen en u kunt vertrouwen op een perfecte afwerking. Wij zijn er voor nieuw schilderwerk, maar ook voor regulier onderhoud.</p>
                    <a href="{{ path('stukadoor_service_5') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Raapwerk</h3>
                    <p>Raapwerk betekent het waterpas en haaks uitvlakken van grove oppervlakten. Raapwerk is vooral van toepassing wanneer u bijvoorbeeld uw badkamer, toilet of keuken eruit heeft gesloopt. De afwerking van het raapwerk is afhankelijk van de manier waarop de nieuwe wand wilt bekleden.</p>
                    <a href="{{ path('stukadoor_service_5') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
            </div>
        </div>
    </div>
    {#<div class="col-md-4 srv-img">#}
        {#<img src="{{ asset('bundles/app/glazen/images/dca-dienstverlening.jpg') }}" alt="service-main" />#}
    {#</div>#}
</div>