{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Sierpleister - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Sierpleister - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Oriënteert u zich nog op de beste wandafwerking van uw nieuwbouwhuis? Wilt u graag eens iets anders op de muur? Een ideale en sterke muurafwerking is het gebruik maken van sierpleister. Dit is een soort van stucwerk met een structuur. Deze wordt veroorzaakt door kleine graniet-marmerkorreltjes die verschillende diktes hebben. Sierpleister geeft een mooie structuur aan uw muren. De voordelen van sierpleister zijn onder meer:{% endblock %}
    {% block description %}Oriënteert u zich nog op de beste wandafwerking van uw nieuwbouwhuis? Wilt u graag eens iets anders op de muur? Een ideale en sterke muurafwerking is het gebruik maken van sierpleister. Dit is een soort van stucwerk met een structuur. Deze wordt veroorzaakt door kleine graniet-marmerkorreltjes die verschillende diktes hebben. Sierpleister geeft een mooie structuur aan uw muren. De voordelen van sierpleister zijn onder meer:{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Ideale wandafwerking door middel van sierpleister</h3>
                <p>Oriënteert u zich nog op de beste wandafwerking van uw nieuwbouwhuis? Wilt u graag eens iets anders op de muur? Een ideale en sterke muurafwerking is het gebruik maken van sierpleister. Dit is een soort van stucwerk met een structuur. Deze wordt veroorzaakt door kleine graniet-marmerkorreltjes die verschillende diktes hebben. Sierpleister geeft een mooie structuur aan uw muren. De voordelen van sierpleister zijn onder meer:</p>
                <ul>
                    <li>Kleurvast</li>
                    <li>Goed over te schilderen</li>
                    <li>Flexibel</li>
                </ul>
                <p>Op een goede manier stuken is een klus die vraagt om de nodige ervaring. Wilt u een of meerder muren laten stuken, dan is het zeker aan te raden om een beroep te doen op een professionele stukadoor. De stukadoren van {{ website.websiteCity }} staan graag voor u klaar. Wij zijn een onderdeel van DCA Dienstverlening en leveren kwaliteit voor een scherpe prijs.</p>
                <h3>Hoe wordt sierpleister aangebracht</h3>
                <p>Bij het aanbrengen van sierpleister dient de ondergrond egaal te zijn. Het is erg belangrijk dat er eerst goed gestukadoord wordt. De stukadoors van {{ website.websiteCity }} maken gebruik van materialen van hoogwaardige kwaliteit. Wanneer de muren echt vlak zijn, wachten we tot ze geheel droog zijn. Daarna brengen we een voorstrijk aan die zorgt voor een goede hechting tussen de verschillende lagen. Met een stalen spaan wordt daarna de sierpleister aangebracht op de muur. U kunt zelf bepalen hoe grof of fijn u de korrel van de sierpleister wilt. De meest gebruikte korrel is 2 mm en 1,5 mm. Wilt u echter fijner of grover, dan is dit altijd mogelijk. </p>
                <h3>Vraag een gratis offerte aan</h3>
                <p>De stukadoors van {{ website.websiteCity }} zijn uw ideale partner wanneer u wanden of muren wilt laten stuken. Gaat u voor sierpleister van hoogwaardige kwaliteit en een perfecte afwerking, neem dan nu contact met ons op. We staan klaar voor zowel particulieren als bedrijven. Altijd een scherpe prijs. Op onze website vindt u een formulier waarop u uw gegevens kunt invullen. Wij zullen u daarna zo spoedig mogelijk een op maat gemaakte offerte toesturen. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}