<div class="video-wrapper hidden-xs">
    <h1>Professionele stukadoors in heel Nederland.</h1>
    <img src="{{ asset('bundles/app/stukadoor/images/slider-stukadoor.jpeg') }}" class="img-responsive" style="-webkit-background-size: cover;background-size: cover; width: 100%;"/>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 text-center">
        <hr>
        <h1>Professionele stukadoors in heel Nederland.</h1>
        <hr>
    </div>
</div>
