{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Spachtelputz - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Spachtelputz - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Zoekt u naar een afwerking van uw muren en plafond waar u voorlopig goed mee zit? Kies dan voor spachtelputz. Dit stukwerk heeft een wat korrelige structuur, past bij diverse stijlen en is zeer tijdloos. Bovendien is spachtelputz in de meeste gevallen een hele betaalbare keus. Het aanbrengen van spachtelputz vraagt om kennis en ervaring. Neem daarom contact op met de stukadoren van {{ website.websiteCity }}. Wij hebben jarenlange ervaring met het aanbrengen van spachelputz en zorgen voor een goede afwerking. Vraag nu vrijblijvend een offerte aan. Zowel particulieren als bedrijven zijn bij ons aan het juiste adres.{% endblock %}
    {% block description %}Zoekt u naar een afwerking van uw muren en plafond waar u voorlopig goed mee zit? Kies dan voor spachtelputz. Dit stukwerk heeft een wat korrelige structuur, past bij diverse stijlen en is zeer tijdloos. Bovendien is spachtelputz in de meeste gevallen een hele betaalbare keus. Het aanbrengen van spachtelputz vraagt om kennis en ervaring. Neem daarom contact op met de stukadoren van {{ website.websiteCity }}. Wij hebben jarenlange ervaring met het aanbrengen van spachelputz en zorgen voor een goede afwerking. Vraag nu vrijblijvend een offerte aan. Zowel particulieren als bedrijven zijn bij ons aan het juiste adres.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Spachtelputz voor een tijdloze afwerking van uw muren</h3>
                <p>Zoekt u naar een afwerking van uw muren en plafond waar u voorlopig goed mee zit? Kies dan voor spachtelputz. Dit stukwerk heeft een wat korrelige structuur, past bij diverse stijlen en is zeer tijdloos. Bovendien is spachtelputz in de meeste gevallen een hele betaalbare keus. Het aanbrengen van spachtelputz vraagt om kennis en ervaring. Neem daarom contact op met de stukadoren van {{ website.websiteCity }}. Wij hebben jarenlange ervaring met het aanbrengen van spachelputz en zorgen voor een goede afwerking. Vraag nu vrijblijvend een offerte aan. Zowel particulieren als bedrijven zijn bij ons aan het juiste adres.</p>
                <h3>Meerdere plafonds en wanden tegelijk</h3>
                <p>Gaat u een aantal wanden en plafonds tegelijk aanpakken? Is uw kantoorpand aan vernieuwing toe? Is er een appartementencomplex opgeleverd en zoekt u naar een goede stukadoor? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening en hebben alleen deskundige, betrouwbare en ervaren vakmensen in dienst. Wanneer u op verschillende muren en plafonds spachtelputz laat aanbrengen, bent u per saldo goedkoper uit. Voor een vrijblijvende offerte vult u uw gegevens in op onze website. </p>
                <h3>De voordelen van spachtelputz</h3>
                <p>
                    Kiest u voor spachtelputz op de muren of plafonds van uw woning of kantoor, dan kunt u uit verschillende technieken kiezen. Spachtelputz is een van de vele soorten sierpleisters die op de muur kan worden gesmeerd of gespoten. U kunt zelf bepalen hoe grof of fijn u de korrel wilt hebben. Uiteraard denken de stukadoors van {{ website.websiteCity }}, indien u dit wenst, graag met u mee. De voordelen van spachtelputz zijn onder andere:
                </p>
                    <ul>
                        <li>Kleurvast</li>
                        <li>Stootvast</li>
                        <li>Geschikt voor zowel buiten- als binnenmuren</li>
                    </ul>
                <p>Een belangrijk voordeel is ook dat u zelf de kleur kunt bepalen. En bent u na een tijdje uitgekeken op deze kleur, dan kunt u desgewenst de muren zo weer een ander kleurtje geven. U hoeft daar niet eens de stukadoor voor in te schakelen. U heeft enkel wat latexverf nodig. Spachtelputz is namelijk heel eenvoudig over te schilderen. Wilt u een gratis offerte ontvangen? Vul dan nu uw gegevens in op onze website. De stukadoors van {{ website.websiteCity }} staan graag voor u klaar. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}