{% embed 'AppBundle::Stukadoor/header.html.twig' %}
    {% block og_title %}Stukadoren - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Stukadoren - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Heeft u een nieuwe woning gekocht en wilt u de muren behangen? Zijn de wanden hier echter nog niet klaar voor? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor een perfect afgewerkte muur door middel van pleisterwerk van hoogwaardige kwaliteit. De wand is daarna perfect geschikt om te behangen. Wanneer u kiest voor behangklaar stucwerk, werken wij het oppervlak zodanig af dat direct behangen mogelijk is. Indien u kiest voor sierpleisters, dan kunnen ook deze direct na het stuken worden aangebracht. Het egaal maken van de muur is van groot belang voor de uitstraling hiervan. Wat dat betreft misschien nog wel belangrijker dan het behang zelf. Neem daarom contact op met de ervaren en professionele stukadoors van {{ website.websiteCity }}. Wij leveren perfect werk tegen een scherpe prijs. Wij zijn een onderdeel van DCA Dienstverlening en zowel bedrijven als particulieren zijn van harte welkom.{% endblock %}
    {% block description %}Heeft u een nieuwe woning gekocht en wilt u de muren behangen? Zijn de wanden hier echter nog niet klaar voor? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor een perfect afgewerkte muur door middel van pleisterwerk van hoogwaardige kwaliteit. De wand is daarna perfect geschikt om te behangen. Wanneer u kiest voor behangklaar stucwerk, werken wij het oppervlak zodanig af dat direct behangen mogelijk is. Indien u kiest voor sierpleisters, dan kunnen ook deze direct na het stuken worden aangebracht. Het egaal maken van de muur is van groot belang voor de uitstraling hiervan. Wat dat betreft misschien nog wel belangrijker dan het behang zelf. Neem daarom contact op met de ervaren en professionele stukadoors van {{ website.websiteCity }}. Wij leveren perfect werk tegen een scherpe prijs. Wij zijn een onderdeel van DCA Dienstverlening en zowel bedrijven als particulieren zijn van harte welkom.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Stukadoor/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>De beste stukadoors van {{ website.websiteCity }}</h3>
                <p>Heeft u een nieuwe woning gekocht en wilt u de muren behangen? Zijn de wanden hier echter nog niet klaar voor? Neem dan contact op met de stukadoors van {{ website.websiteCity }}. Wij zorgen voor een perfect afgewerkte muur door middel van pleisterwerk van hoogwaardige kwaliteit. De wand is daarna perfect geschikt om te behangen. Wanneer u kiest voor behangklaar stucwerk, werken wij het oppervlak zodanig af dat direct behangen mogelijk is. Indien u kiest voor sierpleisters, dan kunnen ook deze direct na het stuken worden aangebracht. Het egaal maken van de muur is van groot belang voor de uitstraling hiervan. Wat dat betreft misschien nog wel belangrijker dan het behang zelf. Neem daarom contact op met de ervaren en professionele stukadoors van {{ website.websiteCity }}. Wij leveren perfect werk tegen een scherpe prijs. Wij zijn een onderdeel van DCA Dienstverlening en zowel bedrijven als particulieren zijn van harte welkom.</p>
                <h3>Stucwerk op wanden en plafonds</h3>
                <p>
                    Wilt u een nieuwe look in uw woning of is uw bedrijfspand toe aan een renovatie? De stukadoors van {{ website.websiteCity }} zijn uw ideale partner als het gaat om hoogwaardig stucwerk. Als de verbouwing achter de rug is, is het meestal noodzaak dat de muren en plafonds worden gestukt. Wij vernemen graag uw wensen en zorgen voor egale muren en plafonds. Wilt u zowel het plafond als de wanden sauzen, dan zorgen wij voor een goede basis. Wij werken het oppervlak namelijk zodanig af door middel van stuken zodat sauzen daarna direct mogelijk is. De stappen die wij achtereenvolgens zetten zijn:
                </p>
                <ul>
                    <li>We strijken het oppervlak voor</li>
                    <li>We brengen een gipslaag aan</li>
                    <li>We reien en sponzen het oppervlak af</li>
                    <li>De muur of het plafond worden afgepleisterd</li>
                </ul>
                <p>Na het sauzen zult u zien dat het resultaat perfect is. Spiegelglad en zonder oneffenheden. Op de stukadoors van {{ website.websiteCity }} kunt u vertrouwen. Wij hebben jarenlange ervaring, we zijn gespecialiseerd in stucwerk en we maken heldere afspraken. We maken enkel gebruik van materialen van hoogwaardige kwaliteit. Vraag geheel gratis en vrijblijvend een offerte aan. </p>
                <h3>Vraag vrijblijvend een offerte aan</h3>
                <p>Stucwerk van hoogwaardige kwaliteit vindt u bij de stukadoors van {{ website.websiteCity }}. Zowel particulieren, VvE’s, woningbouwverenigingen als kleine ondernemingen zijn van harte welkom. Wilt u meer informatie of ontvangt u graag een op maat gesneden prijsopgave? Vul dan nu het formulier in dat u vindt op onze website. Wanneer wij uw persoonlijke gegevens hebben ontvangen, zullen we deze zo snel mogelijk verwerken en ontvangt u van ons een duidelijke prijsindicatie. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Stukadoor/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Stukadoor/footer.html.twig' %}{% endembed %}