<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="section-header">
            <h3>Onze werkgebieden binnen {{ website.websitecity }}</h3>
            <p>Wordt uw woon-/werkgebied niet genoemd? Neem gerust contact met ons op en wij tonen onze flexibiliteit ten aanzien van de uitvoeringslocatie.</p>
        </div>
        <div class="col-md-12 service-detail">
            {% for gebied in werkgebieden %}
                {% if loop.index > 3 %}
                    {% set spacing = "margin-top:0;" %}
                {% else %}
                    {% set spacing = "" %}
                {% endif %}
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                    <div class="werkgebied service-box">
                        <h3>{{ website.websiteCity }} - {{ gebied.name }}</h3>
                        <p>Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ website.websiteCity }} - {{ gebied.name }}.</p>
                        <a href="{{ path('schoonmaak_districts', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Lees verder</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>