/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .maps iframe {
        pointer-events: none;
        margin-bottom:25px;
    }

    .no-padding
    {
        padding:0 !important;
    }

    .no-margin
    {
        margin:0 !important;
    }

    .logo
    {
        width:250px;
        margin-top:35px;
    }

    .top-header .widget-title
    {
        color: #fff;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin:0;
        display: inline-block;
    }

    .top-header a
    {
        color:white;
        cursor: pointer;
    }

    ul.dropdown-menu
    {
        background:white;
        width:100%;
        border:1px solid #333;
        /*-webkit-box-shadow: 0px 0px 20px 1px rgba(51,51,51,1);*/
        /*-moz-box-shadow: 0px 0px 20px 1px rgba(51,51,51,1);*/
        /*box-shadow: 0px 0px 20px 1px rgba(51,51,51,1);*/
    }

    .video-wrapper {
        width:100%;
        height:550px;
        overflow: hidden;
    }

    .video-wrapper video {
        object-fit: cover;
        width:100%;
        height:400px;
        -webkit-transform: translateZ(0)
    }

    .video-wrapper h1 {
        margin: 0;
        z-index: 150;
        position: absolute;
        top:325px;
        width: 100%;
        font-size: 48px;
        color: white;
        text-align: center;
        font-weight: 700;
        font-style: normal;
    }

    .menu-block .navbar
    {
        z-index: 250;
    }

    .werkgebied.service-box
    {
        border: solid 1px #888;
        padding-bottom:30px;
        padding-left:20px;
        padding-right:20px;
    }

    .working-section,.counter-section
    {
        margin-bottom:0;
    }

    .service-section
    {
        margin:50px 0;
    }

    .ftr-widget p
    {
        color: #777;
    }

    .ftr-widget h5
    {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .ftr-widget a
    {
        color: #aaa;
    }

    .ftr-widget a:hover,.footer-main .ftr-widget ul li a:hover
    {
        color: #fff;
    }

    .counter-section
    {
        padding:50px 0;
    }

    .page-banner
    {
        padding:30px 0;
    }

    h3
    {
        color: #222;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 26px;
        margin-top: 30px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    h2
    {
        color: #222;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        margin-top: 0;
        letter-spacing: 1.6px;
        line-height: 28px;
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    .section-header h3
    {
        line-height:40px;
    }

    .btn-default
    {
        background-color: #87654F;
        color: #fff;
        font-size: 13px;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border: 1px solid white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 80px;
        margin-left: 15px;
        letter-spacing: 0.65px;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }

    /* do not group these rules */
    .contact-us-1 .form-control::-webkit-input-placeholder, .contact-us-1 .form-control {
        color: #888888;
    }
    .contact-us-1 .form-control::-moz-placeholder, .contact-us-1 .form-control {
        /* FF 4-18 */
        color: #888888;
    }
    .contact-us-1 .form-control::-moz-placeholder, .contact-us-1 .form-control {
        /* FF 19+ */
        color: #888888;
    }
    .contact-us-1 .form-control:-ms-input-placeholder, .contact-us-1 .form-control {
        /* IE 10+ */
        color: #888888;
    }

    .contact-us-1 .form-control
    {
        border:1px solid #888888;
    }

    .footer-main {
        background-image: none;
        background-repeat: repeat;
        background-size: auto;
        position: relative;
        padding: 120px 0;
        /*background-image: url('../images/baksteen-background.png');*/
        background-position: center;
    }

    .ow-navigation .navbar-nav > li > .dropdown-menu > li a
    {
        color: #333;
        white-space: normal;
        padding: 0;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        text-transform: none;
        position: relative;
        padding:0 5px 0 10px;
    }

    /* * Page Banner */
    .page-banner {
        /*background-image: url('../images/druppels.png');*/
    }
    .page-banner::before, .top-header
    {
        background-color: #87654F;
        /*background-image: url('../images/baksteen-background.png');*/
        background-position: center;
    }

    .working-section
    {
        background-color: #87654F;
    }

    .working-section .working-content::after
    {
        background-color: white;
    }

    .counter-section
    {
        background-color: #87654F;
    }

    a{
        color: #87654F;
    }

    .flashbag-success
    {
        background-color: #e5ffe5;
        border:1px solid #ccffcc;
        padding: 25px;
    }

    .flashbag-error
    {
        background-color: #ffe5e5;
        border: 1px solid #ffcccc;
        padding: 25px;
    }

    .working-section .working-content i, .counter-section .counter-box i
    {
        color: #ffffff;
    }

    .top-header .header-social, .top-header .info
    {
        margin-bottom:10px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .video-wrapper h1 {
        top:325px;
    }

    .service-section .service-detail .service-box.read-more p
    {
        min-height:250px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .video-wrapper h1 {
        top:400px;
    }

    .page-banner
    {
        padding:50px 0;
    }

    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .video-wrapper h1 {
        top:400px;
    }



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .video-wrapper img {
        margin-top: -100px;
    }
}