{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}Contact/Offerte - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Contact/Offerte - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.{% endblock %}
    {% block description %}Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.{% endblock %}
{% endembed %}

<div class="embed-container maps">
    <iframe width="100%" height="350" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC_J69a6jM5JbQJfBUTvCLTKfOYuHxIXks&amp;q={{ website.websiteCity }}&amp;zoom=14" allowfullscreen="">
    </iframe>
</div>

<div class="container content-md">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger fade in text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oeps! Er is een foutmelding opgetreden!</h4>
            <p>Er is zojuist een onbekende fout opgetreden bij het versturen van het offerte/contact formulier. <br/>Probeer het nog een keer of neem anders telefonisch contact op.</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success fade in text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Yes! Uw offerte/contact verzoek is succesvol verzonden!</h4>
            <p>Uw offerte/contact verzoek is succesvol verzonden. U krijgt zo spoedig mogelijk per e-mail of telefonisch antwoord van ons.<br/> Hartelijk dank voor het vertrouwen.</p>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Contact gegevens</h2>
            <p>Heeft u naar aanleiding van onze website nog verdere vragen of opmerkingen, laat het ons dan weten. U kunt ons door middel van de onderstaande gegevens contact met ons opnemen. Wij proberen dan uw vragen zo snel mogelijk te beantwoorden.</p>
            <ul class="list-unstyled contacts">
                <li>
                    <i class="radius-3x fa fa-map-marker"></i>
                    <p>{{ website.address }} {{ website.housenumber }}<br/>{{ website.zipcode }} {{ website.city }}</p>
                </li>
                <li>
                    <i class="radius-3x fa fa-phone"></i>
                    <p>Telefonisch te bereiken op: <br/>{{ website.phone }}</p>
                </li>
                <li>
                    <i class="radius-3x fa fa-globe"></i>
                    <a href="#">{{ website.email }}</a><br>
                    <a href="#">{{ website.website }}</a>
                </li>
            </ul>
            <hr>
            <h2 class="title-v2">Snelle offerte</h2>
            <p>Wilt u een snelle offerte dan kunt u het beste telefonisch contact opnemen met:</p>
            <ul class="list-unstyled contacts">
                <li>
                    <i class="radius-3x fa fa-phone"></i>
                    <p>Telefoonnummer: <br/>{{ website.phone }}</p>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="title-v2">Vrijblijvende offerte op maat</h2>
            <p>Wilt u naar aanleiding van onze website een vrijblijvende offerte op maat ontvangen? Dat kan! Vul het onderstaande formulier in en u ontvangt zo spoedig mogelijk een vrijblijvende offerte op maat van {{ website.websiteTitle }}.</p>
            <h3>Contact gegevens</h3>
            <form action="{{ path('offerte') }}" id="contactform" method="POST">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="naam" class="form-control" placeholder="Voor- en achternaam (verplicht)" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="bedrijfsnaam" class="form-control" placeholder="Bedrijfsnaam"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail (verplicht)" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="telefoonnummer" class="form-control" placeholder="Telefoonnummer"/>
                        </div>
                    </div>
                </div>
                <h3>Aanvullende gegevens</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="adres" class="form-control" placeholder="Adres"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="huisnummer" class="form-control" placeholder="Huisnummer"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="postcode" class="form-control" placeholder="Postcode (verplicht)" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="stad" class="form-control" placeholder="Stad (verplicht)" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="datum" id="datepicker" class="form-control" placeholder="Gewenste datum"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="ramen" class="form-control" placeholder="Aantal ramen"/>
                        </div>
                    </div>
                </div>
                <h3>Eventuele opmerkingen</h3>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-control" name="opmerkingen" rows="5" id="comment" placeholder="Eventuele opmerkingen..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" class="btn-u" value="Verstuur verzoek"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 100px;">
    <div class="container">
        <div class="headline-center headline-light margin-bottom-60">
            <h2>Een greep van onze tevreden clienten:</h2>
        </div><!--/end Headline Center-->

        <div class="row">
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Er werd snel gereageerd op mijn contact verzoek. De week daarop waren mijn ramen al spik en span!</p>
                    <i>Judith</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Klantvriendelijk, ervaren en deskundig. Ons bedrijfspand wordt maandelijks schoongewassen!</p>
                    <i>Pieter</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in">
                    <p>Na drie onervaren glazenwassers eindelijk een goede! Ik ben zeer tevreden met het opgeleverde resultaat!</p>
                    <i>Anthony</i>
                </div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>

<div class="process-v1">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>ONZE WERKWIJZE</h2>
        </div>
        <ul class="list-inline row process-in process-border">
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Intake</h3>
                    <p>Bij de intake analyseren we de ramen en de benodigde materialen.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Offerte</h3>
                    <p>Op basis van de intake maken we een vrijblijvende offerte op maat.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Werkzaamheden</h3>
                    <p>De ramen worden schoongewassen en beschermd door opgeleid personeel.</p>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Oplevering & Nazorg</h3>
                    <p>De ramen worden opgeleverd en er wordt vervolg afspraak ingepland.</p>
                </div>
            </li>
        </ul>
    </div><!--/end container-->
</div>


{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}