<div class="call-action-v1 bg-color-blue">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p class="color-light">{{ website.websiteCallToAction }}</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="{{ path('contact') }}" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-block">Klik hier om contact op te nemen</a>
            </div>
        </div>
    </div>
</div>

<!--=== Footer v6 ===-->
<div id="footer-v6" class="footer-v6">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-3 sm-margin-bottom-40">
                    <div class="heading-footer"><h2>Over {{ website.websiteTitle }}</h2></div>
                    <p>Bent u op zoek naar een glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.</p>
                    <div class="heading-footer"><h2>Contactgegevens</h2></div>
                    <ul class="list-unstyled contacts">
                        <li>
                            <i class="radius-3x fa fa-map-marker"></i>
                            <p>{{ website.address }} {{ website.housenumber }}<br/>{{ website.zipcode }} {{ website.city }}</p>
                        </li>
                        <li>
                            <i class="radius-3x fa fa-phone"></i>
                            <p>Telefonisch te bereiken op: <br/>{{ website.phone }}</p>
                        </li>
                        <li>
                            <i class="radius-3x fa fa-globe"></i>
                            <a href="#">{{ website.email }}</a><br>
                            <a href="#">{{ website.website }}</a>
                        </li>
                    </ul>
                </div>
                <!-- End About Us -->

                <!-- Recent News -->
                <div class="col-md-9 sm-margin-bottom-40">
                    <div class="heading-footer"><h2>{{ website.websiteTitle }} is ook actief in de volgende steden:</h2></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <ul class="list-unstyled footer-link-list">
                                <li><a href="http://www.glazenwassen-alkmaar.nl">Glazenwassers Alkmaar</a></li>
                                <li><a href="http://www.glazenwasser-almelo.nl">Glazenwassers Almelo</a></li>
                                <li><a href="http://www.glazenwasser-almere.nl">Glazenwassers Almere</a></li>
                                <li><a href="http://www.glazenwasser-alphenaanderijn.nl">Glazenwassers Alphen aan de Rijn</a></li>
                                <li><a href="http://www.glazenwassen-amersfoort.nl">Glazenwassers Amersfoort</a></li>
                                <li><a href="http://www.glazenwasser-amstelveen.nl">Glazenwassers Amstelveen</a></li>
                                <li><a href="http://www.glazenwassen-amsterdam.nl">Glazenwassers Amsterdam</a></li>
                                <li><a href="http://www.glazenwassen-apeldoorn.nl">Glazenwassers Apeldoorn</a></li>
                                <li><a href="http://www.glazenwassen-arnhem.nl">Glazenwassers Arnhem</a></li>
                                <li><a href="http://www.glazenwasser-beesel.nl">Glazenwassers Beesel</a></li>
                                <li><a href="http://www.glazenwassen-breda.nl">Glazenwassers Breda</a></li>
                                <li><a href="http://www.glazenwassen-delft.nl">Glazenwassers Delft</a></li>
                                <li><a href="http://www.glazenwassen-denbosch.nl">Glazenwassers Den Bosch</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <ul class="list-unstyled footer-link-list">
                                <li><a href="http://www.glazenwassen-denhaag.nl">Glazenwassers Den Haag</a></li>
                                <li><a href="http://www.glazenwasser-denhelder.nl">Glazenwassers Den Helder</a></li>
                                <li><a href="http://www.glazenwasser-diemen.nl">Glazenwassers Diemen</a></li>
                                <li><a href="http://www.glazenwasser-dordrecht.nl">Glazenwassers Dordrecht</a></li>
                                <li><a href="http://www.glazenwasser-ede.nl">Glazenwassers Ede</a></li>
                                <li><a href="http://www.glazenwassen-eindhoven.nl">Glazenwassers Eindhoven</a></li>
                                <li><a href="http://www.glazenwassen-enschede.nl">Glazenwassers Enschede</a></li>
                                <li><a href="http://www.glazenwassen-gouda.nl">Glazenwassers Gouda</a></li>
                                <li><a href="http://www.glazenwassen-groningen.nl">Glazenwassers Groningen</a></li>
                                <li><a href="http://www.glazenwassen-haarlem.nl">Glazenwassers Haarlem</a></li>
                                <li><a href="http://www.glazenwasser-heerenveen.nl">Glazenwassers Heerenveen</a></li>
                                <li><a href="http://www.glazenwasser-heerhugowaard.nl">Glazenwassers Heerhugowaard</a></li>
                                <li><a href="http://www.glazenwassen-helmond.nl">Glazenwassers Helmond</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <ul class="list-unstyled footer-link-list">
                                <li><a href="http://www.glazenwasser-hengelo.nl">Glazenwassers Hengelo</a></li>
                                <li><a href="http://www.glazenwasser-hilversum.nl">Glazenwassers Hilversum</a></li>
                                <li><a href="http://www.glazenwasser-hoofddorp.nl">Glazenwassers Hoofddorp</a></li>
                                <li><a href="http://www.glazenwassen-hoorn.nl">Glazenwassers Hoorn</a></li>
                                <li><a href="http://www.glazenwasser-houten.nl">Glazenwassers Houten</a></li>
                                <li><a href="http://www.glazenwasser-katwijk.nl">Glazenwassers Katwijk</a></li>
                                <li><a href="http://www.glazenwasser-leeuwarden.nl">Glazenwassers Leeuwarden</a></li>
                                <li><a href="http://www.glazenwassen-leiden.nl">Glazenwassers Leiden</a></li>
                                <li><a href="http://www.glazenwasser-lelystad.nl">Glazenwassers Lelystad</a></li>
                                <li><a href="http://www.glazenwasser-nieuwegein.nl">Glazenwassers Nieuwegein</a></li>
                                <li><a href="http://www.glazenwassen-nijmegen.nl">Glazenwassers Nijmegen</a></li>
                                <li><a href="http://www.glazenwasser-oss.nl">Glazenwassers Oss</a></li>
                                <li><a href="http://www.glazenwasser-rijswijk.nl">Glazenwassers Rijswijk</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <ul class="list-unstyled footer-link-list">
                                <li><a href="http://www.glazenwasser-roosendaal.nl">Glazenwassers Roosendaal</a></li>
                                <li><a href="http://www.glazenwassen-rotterdam.nl">Glazenwassers Rotterdam</a></li>
                                <li><a href="http://www.glazenwasser-schiedam.nl">Glazenwassers Schiedam</a></li>
                                <li><a href="http://www.glazenwasser-sneek.nl">Glazenwassers Sneek</a></li>
                                <li><a href="http://www.glazenwassen-tilburg.nl">Glazenwassers Tilburg</a></li>
                                <li><a href="http://www.glazenwassen-utrecht.nl">Glazenwassers Utrecht</a></li>
                                <li><a href="http://www.glazenwassen-veenendaal.nl">Glazenwassers Veenendaal</a></li>
                                <li><a href="http://www.glazenwasser-vlaardingen.nl">Glazenwassers Vlaardingen</a></li>
                                <li><a href="http://www.glazenwasser-westervoort.nl">Glazenwassers Westervoort</a></li>
                                <li><a href="http://www.glazenwasser-zaandam.nl">Glazenwassers Zaandam</a></li>
                                <li><a href="http://www.glazenwasser-zevenaar.nl">Glazenwassers Zevenaar</a></li>
                                <li><a href="http://www.glazenwassen-zoetermeer.nl">Glazenwassers Zoetermeer</a></li>
                                <li><a href="http://www.glazenwasser-zwolle.nl">Glazenwassers Zwolle</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- End Recent News -->

            </div>
        </div><!--/container -->
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 sm-margon-bottom-10">
                    <p class="silver"></p>
                    {#<ul class="list-inline terms-menu">#}
                        {#<li><a href="#">Algemene voorwaarden</a></li>#}
                        {#<li><a href="#">Privacybeleid</a></li>#}
                        {#<li><a href="#">Contact</a></li>#}
                    {#</ul>#}
                    <ul class="list-inline terms-menu space-bottom-0">
                    <li>
                        Copyright © 2016 - {{ website.websiteTitle }} is een onderdeel van <a href="http://www.dcadienstverlening.nl">DCA Dienstverlening</a>.
                    </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline terms-menu pull-right space-bottom-0">
                        <li>
                            Powered by <a href="http://www.puresoftware.nl">Pure Software</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Footer v6 ===-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/validation.js') }}"></script>

<script type="text/javascript">
    $(function() {
        var playPossible = document.createElement('video').canPlayType('video/webm');
        if(playPossible != 'maybe' && playPossible != 'probably') {
            $('.video-wrapper').hide();
            $('.img-wrapper').show();
        }
    });
</script>

</body>
</html>