{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}{{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
    {% block description %}Wij van {{ website.websiteTItle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
{% endembed %}

<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Glazenwasserij in {{ city|capitalize }} - {{ district|capitalize }}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li>Glazenwassers {{ city|capitalize }}</li>
            <li><a href="{{ path('glazen', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Glazenwasserij in {{ city|capitalize }} - {{ district|capitalize }}</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row content">
        <div class="col-md-6">
            <p>Woont u in {{ city|capitalize }} - {{ district|capitalize }} en bent u op zoek naar een kwalitatief goede glazenreiniger? U bereikt ons glazenwassersbedrijf per e-mail of telefoon. Op de website vraagt u heel gemakkelijk via een knop rechtstreeks een (geheel vrijblijvende) offerte aan.</p>
            <p>Dan bent u bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.</p>
            <p>Dankzij onze jarenlange ervaring bieden wij onder andere traditionele reiniging van uw ramen. Daarnaast pakken wij groots aan en bieden uitkomst bij uw grootschalige projecten op het gebied van glasbewassing. Hierbij maken wij gebruik van krachtige hoogwerkers en telescopisch glazenwasmateriaal. Wij zijn werkzaam in heel {{ website.websiteCity }} maar ook voor buiten ons vaste werkgebied stellen wij ons graag flexibel op. Wij doen graag ervaring op en leren u graag als nieuwe opdrachtgever kennen. Ook al is het een tijdelijk project of zo kleinschalig als het misschien lijkt; bel ons voor een vrijblijvende offerte of stuur ons een e-mail om uw wensen bespreekbaar te maken. </p>
            <p>
                <a href="{{ path('contact') }}" class="btn-u">Klik hier om contact op te nemen</a>
            </p>
        </div>
        <div class="col-md-6 text-center" style="margin-top: 50px;">
            <div class="tag-box tag-box-v4">
                <h2>GECERTIFICEERD EN GEKWALIFICEERD</h2>
                <p>
                    Aangesloten bij de <a href="http://www.vca.nl/" target="_blank">VGM Checklist Aannemers</a>.<br/>
                    Beschikken over het <a href="http://www.osb.nl/" target="_blank">OSB Keurmerk</a>.<br/>
                    Voldoen aan de <a href="http://www.normeringarbeid.nl/" target="_blank">NEN 4400-1 normen.</a>
                    <br/><br/>
                    <img class="img-responsive center-block" src="{{ asset('bundles/app/images/keurmerken.jpg') }}" alt="">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 100px;">
    <div class="container">
        <div class="headline-center headline-light margin-bottom-60">
            <h2>Een greep van onze tevreden clienten:</h2>
        </div><!--/end Headline Center-->

        <div class="row">
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Er werd snel gereageerd op mijn contact verzoek. De week daarop waren mijn ramen al spik en span!</p>
                    <i>Judith</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Klantvriendelijk, ervaren en deskundig. Ons bedrijfspand wordt maandelijks schoongewassen!</p>
                    <i>Pieter</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in">
                    <p>Na drie onervaren glazenwassers eindelijk een goede! Ik ben zeer tevreden met het opgeleverde resultaat!</p>
                    <i>Anthony</i>
                </div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>

<div class="container content">
    <div class="headline-center margin-bottom-30">
        <h2>ONS WERKGEBIED</h2>
    </div>

    <!-- Service Block v8 -->
    <div class="row margin-bottom-30">
        {% for gebied in werkgebieden %}
            {% if loop.index > 3 %}
                {% set spacing = "margin-top:30px;" %}
            {% else %}
                {% set spacing = "" %}
            {% endif %}
            <div class="col-sm-4 sm-margin-bottom-30">
                <div class="service-block-v8" style="border: dashed 1px #bbb; {{ spacing }}">
                    <i class="icon-rocket"></i>
                    <div class="service-block-desc text-center">
                        <h3>{{ website.websiteCity }} - {{ gebied.name }}</h3>
                        <p>Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ website.websiteCity }} - {{ gebied.name }}.</p>
                        <a href="{{ path('glazen', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Lees verder</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="text-center">Staat uw gebied niet beschreven in de lijst? Er bestaat een grote kans dat uw regio toch in onze werkgebied zit.</p>
    <p class="text-center"><a href="{{ path('contact') }}" class="btn-u">Klik hier om contact op te nemen</a></p>
    <!-- End Service Block v8 -->
</div>

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}