<!DOCTYPE html>
<!--[if IE 8]> <html lang="nl" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="nl" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="www.dcadienstverlening.nl">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />
    {% if district is not defined %}
        {% set district = 'bar' %}
    {% endif %}
    <meta property="og:url" content="{{ path(app.request.attributes.get('_route'), {'city': website.websiteCity, 'cityy': website.websiteCity, 'district': district}) }}" />
    <meta property="og:site_name" content="{{ website.websiteTitle }} - {{ website.seoTitle }}" />
    <meta property="og:image" content="http://www.{{ website.domain }}{{ asset('bundles/app/images/socialmedia/'~website.websiteCity|lower|replace({' ':''})~'.jpg') }}" />

    <link rel="shortcut icon" href="{{ asset('bundles/app/images/favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/header-v6.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/footer-v6.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/blue.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css') }}">#}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.min.css') }}?v=1.1">
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}?v=1.1">#}

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" >
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header-fixed">
{% if app.environment == 'prod' %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88917680-{{ website.analyticsCode  }}', 'auto');
    ga('send', 'pageview');

</script>
{% endif %}
<div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-transparent header-sticky header-fixed-shrink">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="{{ path('home') }}" class="text-center">
                            <img class="logo" src="{{ asset('bundles/app/images/logos/logo_deglazenwassersvan'~website.websiteCity|lower|replace({' ':''})~'.png') }}" alt="De Glazenwassers van {{ website.websiteCity }}"/>
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('over', {'city': website.websiteCity|lower }) }}">Over ons</a></li>
                            {#<li><a href="{{ path('diensten') }}">Glazenwassers {{ website.websiteCity }}</a></li>#}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Glazenwassers {{ website.websiteCity }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for gebied in werkgebieden %}
                                        <li><a href="{{ path('glazen', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Glazenwasser in {{ website.websiteCity }} - {{ gebied.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{{ path('contact') }}">Offerte/Contact</a></li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
