{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Bent u op zoek naar een Glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.{% endblock %}
    {% block description %}Bent u op zoek naar een Glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.{% endblock %}
{% endembed %}

<div class="video-wrapper">
    <h1>Professionele glasbewassing op elke hoogte.</h1>
    <video src="http://dcadienstverlening.nl/dca.webm" autoplay loop></video>
</div>

<div class="row img-wrapper vcenter">
    <div class="col-xs-12 text-center">
        <h1>Professionele glasbewassing op elke hoogte.</h1>
    </div>
</div>

<div class="container">
    <div class="row content">
        <div class="col-md-6">
            <h2 class="title-v2">{{ website.websiteTitle }}</h2>
            <p>Bent u op zoek naar een Glazenwasser in {{ website.websiteCity }}, die staat voor kwaliteit en betrouwbaarheid? U bent bij ons aan het juiste adres. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}. Zo dragen wij bij aan zowel kleinere als grotere klussen. Wij zorgen voor schone ramen voor VvE's, woningbouwverenigingen en kleine ondernemingen in en rondom {{ website.websiteCity }}.</p>
            <p>Het vak van {{ website.websiteTitle }} vergt precisie en de nodige kennis. Bij ons kunt u vertrouwen op de benodigde opleiding en ervaring. Bovendien houden we onze kennis continu fris door bijscholing en het bijwonen van vakbeurzen. Daarnaast volgen wij de wensen van onze klanten nauw op en kunnen altijd de beste oplossing in glasbewassing bieden.</p>
            <p>Dankzij onze enorme inzet voor het glazenwassen passen we de nieuwste technieken en elk gewenst (extra) detail uitstekend toe. Er wordt voldaan aan de hoogste veiligheidseisen. Daarnaast ontbreekt het ons niet aan kennis van de meest recente milieu-eisen. Wij zetten ons volledig in voor het vak Glazenwasserij, daar kunt u van op aan! Vraag vandaag nog uw offerte aan.</p>
            <p>
                <a href="{{ path('contact') }}" class="btn-u">Klik hier om contact op te nemen</a>
            </p>
        </div>
        <div class="col-md-6 text-center" style="margin-top: 50px;">
            <div class="tag-box tag-box-v4">
                <h2>GECERTIFICEERD EN GEKWALIFICEERD</h2>
                <p>
                    Aangesloten bij de <a href="http://www.vca.nl/" target="_blank">VGM Checklist Aannemers</a>.<br/>
                    Beschikken over het <a href="http://www.osb.nl/" target="_blank">OSB Keurmerk</a>.<br/>
                    Voldoen aan de <a href="http://www.normeringarbeid.nl/" target="_blank">NEN 4400-1 normen.</a>
                    <br/><br/>
                    <img class="img-responsive center-block" src="{{ asset('bundles/app/images/keurmerken.jpg') }}" alt="">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutter equal-height-columns">
        <div class="col-sm-4">
            <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-certificate"></i>
                <h2 class="font-light">Kennis</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} hebben, naast een gedegen opleiding, de juiste kennis in huis voor uw glazenreinigingsklus.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-black no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-check"></i>
                <h2 class="font-light">Kwaliteit</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} leveren kwaliteit, aan particulieren en bedrijven, bij grote en kleine klussen en alles voor een schappelijk tarief.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-shower "></i>
                <h2 class="font-light">Kracht</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} hanteren oersterk en degelijk materiaal, met het oog op de meest recente veiligheids- en milieu-eisen.</p>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="headline-center margin-bottom-30">
        <h2>ONS WERKGEBIED</h2>
    </div>

    <!-- Service Block v8 -->
    <div class="row margin-bottom-30">
        {% for gebied in werkgebieden %}
            {% if loop.index > 3 %}
                {% set spacing = "margin-top:30px;" %}
            {% else %}
                {% set spacing = "" %}
            {% endif %}
            <div class="col-sm-4 sm-margin-bottom-30">
                <div class="service-block-v8" style="border: dashed 1px #bbb; {{ spacing }}">
                    <i class="icon-rocket"></i>
                    <div class="service-block-desc text-center">
                        <h3>{{ website.websiteCity }} - {{ gebied.name }}</h3>
                        <p>Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ website.websiteCity }} - {{ gebied.name }}.</p>
                        <a href="{{ path('glazen', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Lees verder</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="text-center">Wordt uw woon-/werkgebied niet genoemd? Neem gerust contact met ons op en wij tonen onze flexibiliteit ten aanzien van de uitvoeringslocatie.</p>
    <p class="text-center"><a href="#" class="btn-u">Neem vrijblijvend contact op</a></p>
    <!-- End Service Block v8 -->
</div>

<div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 100px;">
    <div class="container">
        <div class="headline-center headline-light margin-bottom-60">
            <h2>Een greep van onze tevreden clienten:</h2>
        </div><!--/end Headline Center-->

        <div class="row">
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Er werd snel gereageerd op mijn contact verzoek. De week daarop waren mijn ramen al spik en span!</p>
                    <i>Judith</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Klantvriendelijk, ervaren en deskundig. Ons bedrijfspand wordt maandelijks schoongewassen!</p>
                    <i>Pieter</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in">
                    <p>Na drie onervaren glazenwassers eindelijk een goede! Ik ben zeer tevreden met het opgeleverde resultaat!</p>
                    <i>Anthony</i>
                </div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>

<div class="process-v1">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>ONZE WERKWIJZE</h2>
        </div>
        <ul class="list-inline row process-in process-border">
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Intake</h3>
                    <p>Uw wensen en budget vormen het ontwerp plan van aanpak.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Offerte</h3>
                    <p>Samen met het ontwerp-plan van aanpak worden de kosten begroot.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Werkzaamheden</h3>
                    <p>Gaat u akkoord, dan komt het plan tot uitvoering .</p>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Oplevering & Nazorg</h3>
                    <p>Voor, tijdens maar ook na de opdracht blijven wij betrokken.</p>
                </div>
            </li>
        </ul>
    </div><!--/end container-->
</div>

{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}