{% embed 'AppBundle::Website/header.html.twig' %}
    {% block og_title %}Over - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Over - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Goed glasonderhoud is een investering in het behoud van de uitstraling en kwaliteit van uw woning en bedrijfspand. Wij als glazenwasser verzorgen uw glasonderhoud tot in perfectie. Dankzij hoogwerkers en telescoopbewassing kunnen wij als glazenwasser Amsterdam in elk pand de beglazing en kozijnen reinigen.{% endblock %}
    {% block description %}Goed glasonderhoud is een investering in het behoud van de uitstraling en kwaliteit van uw woning en bedrijfspand. Wij als glazenwasser verzorgen uw glasonderhoud tot in perfectie. Dankzij hoogwerkers en telescoopbewassing kunnen wij als glazenwasser Amsterdam in elk pand de beglazing en kozijnen reinigen.{% endblock %}
{% endembed %}

<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Over {{ website.websiteTitle }}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('over', {'city': website.websiteCity }) }}">Over {{ website.websiteTitle }}</a></li>
        </ul>
    </div>
</div>

<div class="container content-md">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <p>Goed glasonderhoud is een investering in het behoud van de uitstraling en kwaliteit van uw woning en bedrijfspand. Wij als glazenwasser verzorgen uw glasonderhoud tot in perfectie. Dankzij hoogwerkers en telescoopbewassing kunnen wij als glazenwasser {{ website.websiteCity }} in elk pand de beglazing en kozijnen reinigen.</p>
            <p>Glasbewassing is een activiteit die veel specialisme, vaardigheden en kennis vergt, met name wanneer wij ons werk op grote hoogte moeten doen. Werken op hoogte vereist speciale technische voorzieningen en natuurlijk ook de nodige veiligheidsmaatregelen. Wij werken uitsluitend met opgeleid personeel dat aan de vereiste kwaliteit en veiligheidseisen voldoen.</p>
            <p>Dankzij onze jarenlange ervaring bieden wij onder andere traditionele reiniging van uw ramen. Daarnaast pakken wij groots aan en bieden uitkomst bij uw grootschalige projecten op het gebied van glasbewassing. Hierbij maken wij gebruik van krachtige hoogwerkers en telescopisch glazenwasmateriaal. Wij zijn werkzaam in heel {{ website.websiteCity }} maar ook voor buiten ons vaste werkgebied stellen wij ons graag flexibel op. Wij doen graag ervaring op en leren u graag als nieuwe opdrachtgever kennen. Ook al is het een tijdelijk project of zo kleinschalig als het misschien lijkt; bel ons voor een vrijblijvende offerte of stuur ons een e-mail om uw wensen bespreekbaar te maken. </p>
            <p>
                <a href="{{ path('contact') }}" class="btn-u">Klik hier om contact op te nemen</a>
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <img class="img-responsive wow animated fadeInUp" data-wow-duration="1.5s" src="{{ asset('bundles/app/images/dca-dienstverlening.jpg') }}" alt="" style="border:1px solid #eee;">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h2>DCA Dienstverlening in actie.</h2>
                    <p>
                        <i>DCA Dienstverlening is het moeder bedrijf van {{ website.websiteTitle }}. Sinds 2002 verzorgen wij de glasbewassing voor zowel particulieren als zakelijke contacten in {{ website.websiteCity }}.</i>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!--=== Colorfull Blocks ===-->
<div class="container-fluid">
    <div class="row no-gutter equal-height-columns">
        <div class="col-sm-4">
            <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-certificate"></i>
                <h2 class="font-light">Kennis</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} hebben, naast een gedegen opleiding, de juiste kennis in huis voor uw glazenreinigingsklus.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-black no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-check"></i>
                <h2 class="font-light">Kwaliteit</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} leveren kwaliteit, aan particulieren en bedrijven, bij grote en kleine klussen en alles voor een schappelijk tarief.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                <i class="icon-md icon-color-light fa fa-shower "></i>
                <h2 class="font-light">Kracht</h2>
                <p class="no-margin-bottom font-light">{{ website.websiteTitle }} hanteren oersterk en degelijk materiaal, met het oog op de meest recente veiligheids- en milieu-eisen.</p>
            </div>
        </div>
    </div>
</div>
<!--=== End Colorfull Blocks ===-->

<div class="container content">
    <div class="headline-center margin-bottom-30">
        <h2>ONS WERKGEBIED</h2>
    </div>

    <!-- Service Block v8 -->
    <div class="row margin-bottom-30">
        {% for gebied in werkgebieden %}
            {% if loop.index > 3 %}
                {% set spacing = "margin-top:30px;" %}
            {% else %}
                {% set spacing = "" %}
            {% endif %}
            <div class="col-sm-4 sm-margin-bottom-30">
                <div class="service-block-v8" style="border: dashed 1px #bbb; {{ spacing }}">
                    <i class="icon-rocket"></i>
                    <div class="service-block-desc text-center">
                        <h3>{{ website.websiteCity }} - {{ gebied.name }}</h3>
                        <p>Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ website.websiteCity }} - {{ gebied.name }}.</p>
                        <a href="{{ path('glazen', {'city': website.websiteCity|lower, 'cityy': website.websiteCity|lower, 'district': gebied.name|lower}) }}">Lees verder</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="text-center">Wordt uw woon-/werkgebied niet genoemd? Neem gerust contact met ons op en wij tonen onze flexibiliteit ten aanzien van de uitvoeringslocatie.</p>
    <p class="text-center"><a href="{{ path('contact') }}" class="btn-u">Klik hier om contact op te nemen</a></p>
    <!-- End Service Block v8 -->
</div>

<div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 100px;">
    <div class="container">
        <div class="headline-center headline-light margin-bottom-60">
            <h2>Een greep van onze tevreden clienten:</h2>
        </div><!--/end Headline Center-->

        <div class="row">
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Er werd snel gereageerd op mijn contact verzoek. De week daarop waren mijn ramen al spik en span!</p>
                    <i>Judith</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in md-margin-bottom-50">
                    <p>Klantvriendelijk, ervaren en deskundig. Ons bedrijfspand wordt maandelijks schoongewassen!</p>
                    <i>Pieter</i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flat-testimonials-in">
                    <p>Na drie onervaren glazenwassers eindelijk een goede! Ik ben zeer tevreden met het opgeleverde resultaat!</p>
                    <i>Anthony</i>
                </div>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>

<div class="process-v1">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>ONZE WERKWIJZE</h2>
        </div>
        <ul class="list-inline row process-in process-border">
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Intake</h3>
                    <p>Uw wensen en budget vormen het ontwerp plan van aanpak.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Offerte</h3>
                    <p>Samen met het ontwerp-plan van aanpak worden de kosten begroot.</p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Werkzaamheden</h3>
                    <p>Gaat u akkoord, dan komt het plan tot uitvoering .</p>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>Oplevering & Nazorg</h3>
                    <p>Voor, tijdens maar ook na de opdracht blijven wij betrokken.</p>
                </div>
            </li>
        </ul>
    </div><!--/end container-->
</div>


{% embed 'AppBundle::Website/footer.html.twig' %}
    {# Hier komen all block overrides van footer. #}
{% endembed %}