{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Blog - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Een schoon gebouw, frisse ruimtes en proper sanitair is een belangrijk visitekaartje voor uw bedrijf. Het is daarom van belang om gebruik te maken van professionele en ervaren schoonmakers. Neem contact op met de schoonmakers van {{ website.websiteCity }} en de kwaliteit van het schoonmaakwerk is absoluut gewaarborgd. Wij zijn een onderdeel van DCA Dienstverlening. Wat onze schoonmakers zoals voor u doen? Vloeren dweilen, plinten afnemen, vensterbanken reinigen, stofwissen en toiletten schoonmaken is nog maar een greep uit de werkzaamheden die wij voor u kunnen verrichten.{% endblock %}
    {% block description %}Een schoon gebouw, frisse ruimtes en proper sanitair is een belangrijk visitekaartje voor uw bedrijf. Het is daarom van belang om gebruik te maken van professionele en ervaren schoonmakers. Neem contact op met de schoonmakers van {{ website.websiteCity }} en de kwaliteit van het schoonmaakwerk is absoluut gewaarborgd. Wij zijn een onderdeel van DCA Dienstverlening. Wat onze schoonmakers zoals voor u doen? Vloeren dweilen, plinten afnemen, vensterbanken reinigen, stofwissen en toiletten schoonmaken is nog maar een greep uit de werkzaamheden die wij voor u kunnen verrichten.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Schoonmaak/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 service-detail">
                <div class="service-box">
                    {% for blog in blogs %}
                        <h2>{{ blog.title|replace({'*stadsnaam*': website.websiteCity}) }}</h2>
                        <p>
                            {{ blog.post|slice(0, 500)|replace({'*stadsnaam*': website.websiteCity})|raw }}...
                        </p>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p>Geschreven door: {{ blog.author }}</p>
                                <p>Datum gepubliceerd: {{ blog.datetimePublished|date('d-m-Y') }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <p><a href="{{ blog.path }}" class="btn btn-default btn-block no-margin">Lees verder...</a></p>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Wilt u een snelle offerte op maat?</h3>
                <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
                <hr>
                <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
            </div>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}