{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Bouwoplevering - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Bouwoplevering - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Nadat een woning, bedrijf of kantoorpand wordt opgeleverd, staan wij voor u klaar. Op het moment dat de verbouwing, de renovatie of de nieuwbouw is afgerond, kunt u het pand nog niet in gebruik nemen. Het is in alle gevallen noodzakelijk dat het gebouw eerst grondig wordt schoongemaakt. Wilt u deze klus zelf uitvoeren, dan kost u dit veel inspanning en tijd. Maak daarom zeker gebruik van de schoonmaakdiensten van de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening. Zeker verfresten, cementsluier en andere bouwafvalstoffen dienen op een deskundige wijze te worden opgeruimd. Wanneer het gaat om het opruimen en schoonmaken van bouwterreinen, dan vraagt dit een specialistische aanpak waarin wij zeer bedreven zijn. {% endblock %}
    {% block description %}Nadat een woning, bedrijf of kantoorpand wordt opgeleverd, staan wij voor u klaar. Op het moment dat de verbouwing, de renovatie of de nieuwbouw is afgerond, kunt u het pand nog niet in gebruik nemen. Het is in alle gevallen noodzakelijk dat het gebouw eerst grondig wordt schoongemaakt. Wilt u deze klus zelf uitvoeren, dan kost u dit veel inspanning en tijd. Maak daarom zeker gebruik van de schoonmaakdiensten van de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening. Zeker verfresten, cementsluier en andere bouwafvalstoffen dienen op een deskundige wijze te worden opgeruimd. Wanneer het gaat om het opruimen en schoonmaken van bouwterreinen, dan vraagt dit een specialistische aanpak waarin wij zeer bedreven zijn. {% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Bouwoplevering schoonmaak door de schoonmakers van {{ website.websiteCity }}</h3>
                <p>Nadat een woning, bedrijf of kantoorpand wordt opgeleverd, staan wij voor u klaar. Op het moment dat de verbouwing, de renovatie of de nieuwbouw is afgerond, kunt u het pand nog niet in gebruik nemen. Het is in alle gevallen noodzakelijk dat het gebouw eerst grondig wordt schoongemaakt. Wilt u deze klus zelf uitvoeren, dan kost u dit veel inspanning en tijd. Maak daarom zeker gebruik van de schoonmaakdiensten van de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening. Zeker verfresten, cementsluier en andere bouwafvalstoffen dienen op een deskundige wijze te worden opgeruimd. Wanneer het gaat om het opruimen en schoonmaken van bouwterreinen, dan vraagt dit een specialistische aanpak waarin wij zeer bedreven zijn. </p>
                <h3>Bouwoplevering tot in de kleinste details</h3>
                <p>
                    Wat kunt u zoal van ons verwachten als het gaat om de bouwoplevering?
                </p>
                    <ul>
                        <li>Het verwijderen van losliggend vuil</li>
                        <li>Schrobben van harde vloeren</li>
                        <li>Glasbewassing</li>
                        <li>Verwijderen van verfresten</li>
                        <li>Geheel stofvrij maken van alle oppervlakten</li>
                        <li>Reinigen van wanden, vloeren, plafonds en sanitair</li>
                        <li>Verwijderen van eventuele stickers</li>
                        <li>Reinigen van keukens</li>
                        <li>Deuren en plinten afnemen</li>
                        <li>Schoonmaken van kabelgoten</li>
                        <li>Stofzuigen van tapijt</li>
                    </ul>
                <p>
                    Zoals u ziet is voor de schoonmakers van {{ website.websiteCity }} niets te veel. Uiteraard houden wij graag rekening met uw specifieke wensen. We zorgen voor een bouwoplevering op maat. Hierbij kunt u rekenen op ervaren personeel met veel ervaring. Zeker op een bouwterrein is dit van groot belang. Ons team van specialisten is uiterst geschikt voor het aanpakken van werkzaamheden op en rond een bouwterrein. 
                </p>
                <h3>Compleet schoon en eventueel zelfs ingericht</h3>
                <p>Wanneer u dit op prijs stelt, richten wij zelfs uw pand in met door u zelf uitgekozen sanitaire benodigdheden. Heeft u interesse in onze diensten, neem dan vrijblijvend contact met ons op. Zowel particulieren, VvE’s, bouwverenigingen als bedrijven zijn bij ons aan het juiste adres. Neem vandaag nog contact met ons op. U doet dit door het formulier op onze website in te vullen met uw persoonlijke gegevens. Daarna ontvangt u van onze kant zo spoedig mogelijk een op maat gemaakte offerte. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}