{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Professionele Schoonmakers in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Professionele Schoonmakers in {{ city|capitalize }} - {{ district|capitalize }} - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Wij van {{ website.websiteTitle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
    {% block description %}Wij van {{ website.websiteTItle }} zijn actief in de stadsdeel {{ city|capitalize }} - {{ district|capitalize }}.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Glazen/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <h3>Betrouwbare schoonmakers in {{ city|capitalize }} - {{ district|capitalize }}</h3>

            <p>Wilt u het schoonmaken van uw woning of bedrijf uitbesteden, dan is het uiteraard belangrijk dat de schoonmakers betrouwbaar zijn. Maakt u gebruik van de schoonmakers in {{ city|capitalize }} - {{ district|capitalize }} van DCA Dienstverlening, dan zit u wat dit betreft helemaal goed. Wij maken alleen gebruik van deskundige, ervaren en betrouwbare schoonmakers. Of het nu gaat om vloeronderhoud, tapijtreiniging, glasbewassing, bouwoplevering of andere schoonmaakwerkzaamheden, op ons kunt u vertrouwen. Overal in {{ city|capitalize }} - {{ district|capitalize }} staan wij graag voor u klaar. </p>

            <h3>Totale reiniging door schoonmakers {{ city|capitalize }} - {{ district|capitalize }}</h3>

            <p>Staat er een verhuizing van uw bedrijf in {{ city|capitalize }} - {{ district|capitalize }} op de planning, dan komt daar heel wat bij kijken. Maak in dat geval gebruik van de schoonmakers in {{ city|capitalize }} - {{ district|capitalize }}. Wij kunnen u helpen bij alle voorkomende schoonmaakwerkzaamheden. Of het nu gaat om de reiniging van plafonds, tapijt of wanden, wij regelen het voor u. Is er misschien nog veel afval van de verbouwing aanwezig? Doe een beroep op de diensten van schoonmakers van {{ city|capitalize }} - {{ district|capitalize }} en het wordt voor u geregeld. Waarschijnlijk is ook het wassen van de glazen geen overbodige luxe als u een verhuizing achter de rug heeft. Ook voor het schoonmaken van de ramen en kozijnen bent u bij ons aan het juiste adres. Wilt u structureel gebruikmaken van onze schoonmakers in {{ city|capitalize }} - {{ district|capitalize }}, dan behoort dit uiteraard ook tot de mogelijkheden. Zowel particulieren, kleine ondernemingen, woningbouwverenigingen, VvE’s als particulieren zijn welkom bij DCA Dienstverlening.</p>

            <h3>Vraag vrijblijvend een offerte aan bij schoonmakers van {{ city|capitalize }} - {{ district|capitalize }}</h3>

            <p>Bent u benieuwd of de schoonmakers van {{ city|capitalize }} - {{ district|capitalize }} iets voor u kunnen betekenen, neem dan vrijblijvend contact met ons op. U doet dit door het formulier op onze website in te vullen. Wij zullen uw gegevens verwerken en sturen u dan zo snel mogelijk een op maat gesneden offerte toe. Al uw schoonmaakwerkzaamheden zijn bij ons in goede handen. </p>


        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Hallo!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/glazen/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/glazen/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/glazen/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}