{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Glasbewassing - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Besteed het reinigen van ramen en kozijnen uit aan de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening en betrouwbaarheid, nauwkeurigheid, service en veiligheid staan bij ons hoog in het vaandel. Ook houden wij bij al onze schoonmaakwerkzaamheden rekening met het milieu. Laat onze glazenwassers zowel binnen als buiten uw ramen schoonmaken en geniet van het blinkende resultaat. {% endblock %}
    {% block description %}Besteed het reinigen van ramen en kozijnen uit aan de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening en betrouwbaarheid, nauwkeurigheid, service en veiligheid staan bij ons hoog in het vaandel. Ook houden wij bij al onze schoonmaakwerkzaamheden rekening met het milieu. Laat onze glazenwassers zowel binnen als buiten uw ramen schoonmaken en geniet van het blinkende resultaat. {% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Alle soorten glasbewassing mogelijk bij de schoonmakers van {{ website.websiteCity }}</h3>
                <p>Besteed het reinigen van ramen en kozijnen uit aan de schoonmakers van {{ website.websiteCity }}. Wij zijn een onderdeel van DCA Dienstverlening en betrouwbaarheid, nauwkeurigheid, service en veiligheid staan bij ons hoog in het vaandel. Ook houden wij bij al onze schoonmaakwerkzaamheden rekening met het milieu. Laat onze glazenwassers zowel binnen als buiten uw ramen schoonmaken en geniet van het blinkende resultaat. </p>
                <h3>Traditionele glasbewassing</h3>
                <p>U kunt bij de schoonmakers van {{ website.websiteCity }} terecht voor de traditionele glasbewassing. Wij staan klaar voor zowel particulieren, kleine ondernemingen, VvE’s als woningbouwverenigingen. Wij reinigen uw ramen en kozijnen op de ouderwetse manier door middel van gewoon water, een spons en een wisser. Onze gespecialiseerde en ervaren glazenwassers volgen regelmatig bijscholing, zodat de kwaliteit gewaarborgd blijft. Uw ramen streeploos gereinigd door onze vakmensen.</p>
                <h3>Telebewassing</h3>
                <p>Het reinigen van glas op grote hoogte vraagt om een specifieke aanpak. Bij de schoonmakers van {{ website.websiteCity }} bent u hiervoor aan het juiste adres. Wij maken gebruik van een telescoop met een uitschuifbare steel en kunnen op deze manier ramen tot een hoogte van zo’n 23 meter schoonmaken. Op deze manier is het gebruik van ladders overbodig en wordt het schoonmaakwerk vele malen efficiënter uitgevoerd. Uiteraard is dit ook terug te zien in het prijskaartje en kunt u bij ons terecht voor glasbewassing tegen een zeer scherp tarief. </p>
                <h3>Glasbewasing door middel van een hoogwerker</h3>
                <p>Uiteraard kunnen we door middel van telebewassing niet alle ramen bereiken. Heeft uw pand ramen op zeer grote hoogte, dan maken wij gebruik van een hoogwerker. Onze gecertificeerde glazenwassers reinigen op deze manier de ramen tot op een hoogte van zo’n 53 meter. Dat veiligheid en kwaliteit hierbij voorop staan is voor ons een vanzelfsprekende zaak. Onze hoogwerker brengt de schoonmaker naar boven en deze wast handmatig kozijnen en ramen. U wilt gebruik maken van onze diensten? Vul dan nu het formulier in dat u vindt op onze website. Wij ontvangen graag uw gegevens en sturen u dan een op maat gesneden offerte toe.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}