{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}{{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Zoekt u een betrouwbare en professionele schoonmaker voor uw woning? Heeft u een drukke baan en komt u zelf niet toe aan het schoonmaken van uw ramen en kozijnen? Wilt u af en toe een schoonmaker inschakelen of is het de bedoeling dat er wekelijks iemand langskomt om uw huis te cleanen? {% endblock %}
    {% block description %}Zoekt u een betrouwbare en professionele schoonmaker voor uw woning? Heeft u een drukke baan en komt u zelf niet toe aan het schoonmaken van uw ramen en kozijnen? Wilt u af en toe een schoonmaker inschakelen of is het de bedoeling dat er wekelijks iemand langskomt om uw huis te cleanen? {% endblock %}
{% endembed %}

{% embed 'AppBundle::Schoonmaak/slider.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/werkgebied.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}