{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Schoonmaak - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Schoonmaak - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Een schoon gebouw, frisse ruimtes en proper sanitair is een belangrijk visitekaartje voor uw bedrijf. Het is daarom van belang om gebruik te maken van professionele en ervaren schoonmakers. Neem contact op met de schoonmakers van {{ website.websiteCity }} en de kwaliteit van het schoonmaakwerk is absoluut gewaarborgd. Wij zijn een onderdeel van DCA Dienstverlening. Wat onze schoonmakers zoals voor u doen? Vloeren dweilen, plinten afnemen, vensterbanken reinigen, stofwissen en toiletten schoonmaken is nog maar een greep uit de werkzaamheden die wij voor u kunnen verrichten. {% endblock %}
    {% block description %}Een schoon gebouw, frisse ruimtes en proper sanitair is een belangrijk visitekaartje voor uw bedrijf. Het is daarom van belang om gebruik te maken van professionele en ervaren schoonmakers. Neem contact op met de schoonmakers van {{ website.websiteCity }} en de kwaliteit van het schoonmaakwerk is absoluut gewaarborgd. Wij zijn een onderdeel van DCA Dienstverlening. Wat onze schoonmakers zoals voor u doen? Vloeren dweilen, plinten afnemen, vensterbanken reinigen, stofwissen en toiletten schoonmaken is nog maar een greep uit de werkzaamheden die wij voor u kunnen verrichten. {% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Hoogste kwaliteit schoonmaakwerk</h3>
                <p>Een schoon gebouw, frisse ruimtes en proper sanitair is een belangrijk visitekaartje voor uw bedrijf. Het is daarom van belang om gebruik te maken van professionele en ervaren schoonmakers. Neem contact op met de schoonmakers van {{ website.websiteCity }} en de kwaliteit van het schoonmaakwerk is absoluut gewaarborgd. Wij zijn een onderdeel van DCA Dienstverlening. Wat onze schoonmakers zoals voor u doen? Vloeren dweilen, plinten afnemen, vensterbanken reinigen, stofwissen en toiletten schoonmaken is nog maar een greep uit de werkzaamheden die wij voor u kunnen verrichten. </p>
                <h3>Overleg is belangrijk</h3>
                <p>Voordat wij starten met de schoonmaakwerkzaamheden in uw bedrijf, woning of kantoorpand, vindt er een overleg plaats. Wij vernemen graag uw specifieke wensen, zodat wij een werkschema kunnen maken zoals u dat wilt. Onze professionele schoonmakers werken nauwkeurig, hygiënisch en hebben een flexibele opstelling. Dit is zeker van belang wanneer uw medewerkers op onregelmatige tijden aanwezig zijn. Wij passen ons aan aan uw wensen. Een goede communicatie vinden wij erg belangrijk. </p>
                <h3>Moderne schoonmaakmiddelen en milieuvriendelijk</h3>
                <p>Ook in de schoonmaakbranche komt er steeds meer aandacht voor het milieu. Milieuvriendelijk werken staat dan ook hoog in het vaandel bij de schoonmakers van {{ website.websiteCity }}. Bij het gebruik van apparatuur en schoonmaakmiddelen letten wij scherp op de duurzaamheid en milieuvriendelijkheid hiervan. Uiteraard wordt door ons het afval ook altijd zoveel mogelijk gescheiden ingeleverd. </p>
                <h3>De schoonmakers van {{ website.websiteCity }} voor zowel bedrijven als particulieren</h3>
                <p>Zoekt u een betrouwbare en professionele schoonmaker voor uw woning? Heeft u een drukke baan en komt u zelf niet toe aan het schoonmaken van uw ramen en kozijnen? Wilt u af en toe een schoonmaker inschakelen of is het de bedoeling dat er wekelijks iemand langskomt om uw huis te cleanen? Neem contact op met de schoonmakers van {{ website.websiteCity }} en het wordt geregeld. Ook voor woningbouwverenigingen en VvE’s zijn wij het ideale schoonmaakbedrijf. Bij een appartementencomplex is het bijvoorbeeld erg belangrijk dat het trappenhuis frequent wordt gereinigd. Ook bedrijven kunnen gebruikmaken van ons ervaren personeel. Wilt u verdere informatie of bent u benieuwd naar het prijskaartje? Bekijk dan nu het formulier op onze website en vul uw gegevens in. Daarna ontvangt u van ons zo spoedig mogelijk een op maat gesneden offerte. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}