<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="section-header">
            <h3>Schoonmaak diensten van DCA Dienstverlening</h3>
            <p>Wij hebben alles in huis. Voor ieder probleem een oplossing.</p>
        </div>
        <hr>
        <div class="col-md-12 service-detail">
            <div class="row equal">
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Schoonmaak</h3>
                    <p>Goede hygiëne is belangrijk in bedrijven, scholen, woningen en diverse andere gebouwen. Het uitbesteden van het schoonmaakwerk bespaart u veel tijd. Wij zijn uw ideale partner wanneer het gaat om een grondige schoonmaak. Milieuvriendelijk, veel ervaring, klantvriendelijkheid en hygiëne zijn hierbij belangrijke sleutelwoorden.</p>
                    <a href="{{ path('schoonmaak_service_1') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Vloeronderhoud</h3>
                    <p>Vloeronderhoud zorgt voor een langere levensduur van uw vloeren. Zeker wanneer de vloer dagelijks zwaar wordt belast, is professioneel onderhoud van belang. Het onderhoud dat nodig is, is afhankelijk van het soort vloer. Onze specialisten maken gebruik van diverse moderne en milieuvriendelijke technieken.</p>
                    <a href="{{ path('schoonmaak_service_2') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Bouwoplevering</h3>
                    <p>Na een verbouwing, renovatie of nieuwbouw is een goede bouwoplevering van belang. De woning dient te worden schoongemaakt en al het restafval van de bouw wordt opgeruimd. De plafonds, de wanden, de vloeren en het sanitair worden grondig gereinigd, zodat u een woning of pand zult aantreffen dat geheel klaar is voor gebruik.</p>
                    <a href="{{ path('schoonmaak_service_3') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Glasbewassing</h3>
                    <p>Streeploos gereinigde ruiten zijn een belangrijk visitekaartje van uw bedrijf. Bij traditionele glasbewassing reinigt een ervaren en professionele glazenwasser uw ramen en kozijnen met water, spons en wisser. Ook wanneer uw ramen op grotere hoogten heeft, zijn wij uw ideale partner. Door middel van telebewassing reinigen wij uw ramen en kozijnen tot een hoogte van 23 meter.</p>
                    <a href="{{ path('schoonmaak_service_4') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
                <div class="col-xs-12 col-sm-4 service-box read-more">
                    <h3>Tapijtreiniging</h3>
                    <p>Tapijtreiniging is een vak apart. Wilt u dat de vloerbedekking grondig wordt gereinigd, maak dan gebruik van een professionele tapijtreiniger. Door middel van een speciale reinigingsvloeistof, die onder hoge druk diep in het tapijt wordt gesproeid, reinigen wij uw vloer grondig. Bovendien is uw tapijt na de behandeling antistatisch, zodat herbevuiling minder snel optreedt.</p>
                    <a href="{{ path('schoonmaak_service_5') }}" class="btn btn-default btn-block no-margin">Lees verder...</a>
                </div>
            </div>
        </div>
    </div>
    {#<div class="col-md-4 srv-img">#}
        {#<img src="{{ asset('bundles/app/glazen/images/dca-dienstverlening.jpg') }}" alt="service-main" />#}
    {#</div>#}
</div>