{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Tapijtreiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Tapijtreiniging - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}De schoonmakers van {{ website.websiteCity }} reinigen alle soorten tapijten. Zowel particulieren als eigenaren van woningbouwverenigingen kunnen een beroep op ons doen. Ook kleine ondernemingen en VvE’s zijn van harte welkom bij ons. Wij zijn een onderdeel van DCA Dienstverlening en maken enkel gebruik van gecertificeerd en ervaren personeel. Voor het schoonmaken van het tapijt zetten wij diverse methoden in. Dit is geheel afhankelijk van het soort vloer dat u heeft. {% endblock %}
    {% block description %}De schoonmakers van {{ website.websiteCity }} reinigen alle soorten tapijten. Zowel particulieren als eigenaren van woningbouwverenigingen kunnen een beroep op ons doen. Ook kleine ondernemingen en VvE’s zijn van harte welkom bij ons. Wij zijn een onderdeel van DCA Dienstverlening en maken enkel gebruik van gecertificeerd en ervaren personeel. Voor het schoonmaken van het tapijt zetten wij diverse methoden in. Dit is geheel afhankelijk van het soort vloer dat u heeft. {% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Alle soorten tapijt gereinigd door de schoonmakers van {{ website.websiteCity }}</h3>
                <p>De schoonmakers van {{ website.websiteCity }} reinigen alle soorten tapijten. Zowel particulieren als eigenaren van woningbouwverenigingen kunnen een beroep op ons doen. Ook kleine ondernemingen en VvE’s zijn van harte welkom bij ons. Wij zijn een onderdeel van DCA Dienstverlening en maken enkel gebruik van gecertificeerd en ervaren personeel. Voor het schoonmaken van het tapijt zetten wij diverse methoden in. Dit is geheel afhankelijk van het soort vloer dat u heeft. </p>
                <h3>Schoonmaak en onderhoud</h3>
                <p>Naast het schoonmaken van uw tapijt, kunnen wij ook zorgen voor het onderhoud van de vloer. Op deze manier verlengt u de levensduur van uw tapijt. Het schoonmaken van de vloer voeren wij uit met een speciale tapijtreinigingsvloeistof. Deze wordt, gecombineerd met water, onder hoge druk in de tapijtpool gesproeid. Wij garanderen u dat de vloer na deze behandeling volkomen schoon is. Ook is het tapijt na afloop al grotendeels droog. Het maakt bij deze behandeling overigens niet uit welk soort tapijt u heeft. Zowel katoen, synthetisch als wol kan op deze wijze worden behandeld. Ook de wijze van leggen of het type rug vormt geen enkele belemmering. Andere manieren van schoonmaken of behandelen door de schoonmakers van {{ website.websiteCity }} zijn onder meer: Bonnet reinigen, Spray reinigen of brandvertragend maken. </p>
                <h3>Impregneren is een aanrader</h3>
                <p>Wanneer u de schoonmakers van {{ website.websiteCity }} inschakelt voor het grondig reinigen van uw tapijt, adviseren wij u om tegelijkertijd te kiezen voor een impregneerbehandeling. Dankzij de nieuwe en extra beschermlaag over uw tapijt, wordt het onderhoud in de toekomst nog eenvoudiger. De impregnering vormt als het ware een beschermlaag voor de vezels van het tapijt. Het schoonmaken gaat daarna vele malen eenvoudiger en doordat de vezels goed beschermd zijn tegen vuil, zal de vloer minder snel last hebben van slijtage. </p>
                <h3>Vraag vrijblijvend een offerte aan</h3>
                <p>Denkt u dat de schoonmakers van {{ website.websiteCity }} ook voor u van betekenis kunnen zijn? Kiest u voor een grondige reiniging van uw tapijt? Vul dan nu het formulier op onze website in. Wij zijn onderdeel van DCA Dienstverlening en garanderen u dat wij enkel gebruik maken van deskundig, betrouwbaar en ervaren personeel. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}