{% embed 'AppBundle::Schoonmaak/header.html.twig' %}
    {% block og_title %}Vloeronderhoud - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block title %}Vloeronderhoud - {{ website.websiteTitle }} - {{ website.seoTitle }}{% endblock %}
    {% block og_description %}Het onderhoud van de vloer is nog weleens een ondergeschoven kindje. Mensen denken bijvoorbeeld dat het reinigen van het sanitair en de ramen belangrijker is dan het onderhouden en schoonmaken van de vloer. Uiteraard is het essentieel dat het sanitair grondig wordt schoongemaakt. Dit is erg belangrijk voor een goede hygiëne. Toch is de invloed van een slecht onderhouden vloer groter dan menigeen vermoedt. Wanneer de vloer fris en schoon is, geeft dit direct een hele andere uitstraling aan een ruimte. Ook is een regelmatig onderhoud van de vloer belangrijk voor de levensduur ervan. Vooral in bedrijfsruimten wordt regelmatig gebruik gemaakt van duurzame vloeren. Goed onderhoud is dan, zeker ook in het kader van hygiëne, erg belangrijk. De schoonmakers van {{ website.websiteCity }} hebben jarenlange ervaring met het onderhoud van allerlei soorten vloeren. Zowel particulieren als bedrijven kunnen een beroep op ons doen. Wij zijn een onderdeel van DCA Dienstverlening.{% endblock %}
    {% block description %}Het onderhoud van de vloer is nog weleens een ondergeschoven kindje. Mensen denken bijvoorbeeld dat het reinigen van het sanitair en de ramen belangrijker is dan het onderhouden en schoonmaken van de vloer. Uiteraard is het essentieel dat het sanitair grondig wordt schoongemaakt. Dit is erg belangrijk voor een goede hygiëne. Toch is de invloed van een slecht onderhouden vloer groter dan menigeen vermoedt. Wanneer de vloer fris en schoon is, geeft dit direct een hele andere uitstraling aan een ruimte. Ook is een regelmatig onderhoud van de vloer belangrijk voor de levensduur ervan. Vooral in bedrijfsruimten wordt regelmatig gebruik gemaakt van duurzame vloeren. Goed onderhoud is dan, zeker ook in het kader van hygiëne, erg belangrijk. De schoonmakers van {{ website.websiteCity }} hebben jarenlange ervaring met het onderhoud van allerlei soorten vloeren. Zowel particulieren als bedrijven kunnen een beroep op ons doen. Wij zijn een onderdeel van DCA Dienstverlening.{% endblock %}
{% endembed %}

{% embed 'AppBundle::Gevel/breadcrump.html.twig' %}{% endembed %}

<div id="service-section" class="service-section container-fluid no-padding">
    <div class="container">
        <div class="col-md-8 service-detail">
            <div class="col-md-12 col-sm-12 col-xs-12 service-box">
                <h3>Vloeronderhoud voor zowel bedrijven als particulieren</h3>
                <p>Het onderhoud van de vloer is nog weleens een ondergeschoven kindje. Mensen denken bijvoorbeeld dat het reinigen van het sanitair en de ramen belangrijker is dan het onderhouden en schoonmaken van de vloer. Uiteraard is het essentieel dat het sanitair grondig wordt schoongemaakt. Dit is erg belangrijk voor een goede hygiëne. Toch is de invloed van een slecht onderhouden vloer groter dan menigeen vermoedt. Wanneer de vloer fris en schoon is, geeft dit direct een hele andere uitstraling aan een ruimte. Ook is een regelmatig onderhoud van de vloer belangrijk voor de levensduur ervan. Vooral in bedrijfsruimten wordt regelmatig gebruik gemaakt van duurzame vloeren. Goed onderhoud is dan, zeker ook in het kader van hygiëne, erg belangrijk. De schoonmakers van {{ website.websiteCity }} hebben jarenlange ervaring met het onderhoud van allerlei soorten vloeren. Zowel particulieren als bedrijven kunnen een beroep op ons doen. Wij zijn een onderdeel van DCA Dienstverlening.</p>
                <h3>Alle soorten vloeronderhoud mogelijk bij de schoonmakers van {{ website.websiteCity }}</h3>
                <p>Het onderhoud van de vloer vraagt om een specialistische aanpak. Wanneer een vloer op de verkeerde manier wordt gereinigd of onderhouden, kan dit zorgen voor beschadiging. Het maakt nogal wat uit of u een houten, marmeren of natuurstenen vloer heeft. De schoonmakers van {{ website.websiteCity }} hebben ervaring met allerlei soorten vloeren. U kunt daarom vertrouwen op een specialistische aanpak die het beste aansluit bij uw vloer. Wij zijn een onderdeel van DCA Dienstverlening. Heeft u in uw woning of bedrijf voornamelijk tapijt, dan is vooral stofzuigen van belang. Maar wat doet u als er veel vlekken in het tapijt zijn gekomen? Wij weten voor vrijwel iedere vlek de beste oplossing, zodat uw tapijt er na afloop van de behandeling weer uitziet als nieuw. Wanneer u merkt dat uw plavuizen vloer na verloop van tijd niet goed meer schoon te maken is, is er wellicht een uitgebreide behandeling met een schrobmachine nodig. Wij laten ook deze vloer weer blinken als glas. Heeft u een marmeren vloer die toe is aan een onderhoudsbeurt? Neem dan zeker contact op met de schoonmakers van {{ website.websiteCity }}. Wij schuren, zouten en kristalliseren uw vloer, zodat deze nadien glanst als nooit te voren. Wellicht is het een idee om de vloer tegelijkertijd te impregneren? Op die manier is uw vloer voortaan vuilafstotend. We maken gebruik van moderne apparatuur en schoonmaakmiddelen. Aandacht voor het milieu staat bij ons hoog in het vaandel. </p>
                <h3>Vraag vrijblijvend een offerte aan</h3>
                <p>U gunt uw vloer het allerbeste? Vraag dan nu geheel vrijblijvend een offerte aan. Alle soorten vloeren zijn bij de schoonmakers van {{ website.websiteCity }} in goede handen. U vraagt de offerte aan door het formulier op onze website in te vullen. Als wij uw gegevens hebben ontvangen, nemen wij zo spoedig mogelijk contact met u op. </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Wilt u een snelle offerte op maat?</h3>
            <a href="https://api.whatsapp.com/send?phone=31641088121&text=Goeiedag!%20Ik%20heb%20interesse%20in%20een%20vrijblijvende%20offerte."><img src="{{ asset('bundles/app/gevel/images/offerte-whatsapp.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="tel:{{ website.phone }}"><img src="{{ asset('bundles/app/gevel/images/offerte-telefoon.jpg') }}" class="img-responsive"/></a>
            <hr>
            <a href="mailto:{{ website.email }}"><img src="{{ asset('bundles/app/gevel/images/offerte-email.jpg') }}" class="img-responsive"/></a>
        </div>
    </div>
</div>

{% embed 'AppBundle::Schoonmaak/certificates.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/services.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/businesshours.html.twig' %}{% endembed %}
{% embed 'AppBundle::Schoonmaak/footer.html.twig' %}{% endembed %}