h1, h2, h3, h4, h5, h6 {
    font-weight:500;
    font-family: 'Bitter', serif;
    color: #333;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    color: #333;
}

a {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
}

.navbar {
    height:105px;
}

.header-v6 .navbar-nav {
    margin-top:34px;
}

.navbar-brand h1 {
    margin-top: 2px;
    font-weight:300;
    font-size:20px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.breadcrumbs {
    margin-top:105px;
}

.header-v6.header-dark-transparent .navbar {
    background:rgba(0,0,0,.7);
    -webkit-transform: translateZ(0);
    z-index: 250;
}

.header-v6 .navbar-nav > li > a {
    font-family: 'Bitter', serif;
    border-bottom:2px solid transparent;
}

.header-fixed .header-v6.header-dark-transparent.header-fixed-shrink .navbar-nav > li > a {
    color: #333;
}

.header-v6 .dropdown-menu li a {
    color: #333;
}


.header-v6 .navbar-nav > li > a:hover {
    border-bottom:2px solid #3498db;
}

.service-block-v8 .service-block-desc {
    overflow: inherit;
}

.service-block-v8 .service-block-desc h3:after {
    left:33.3%;
    width:33.3%;
}

.service-block-v8 .service-block-desc h3 {
    margin-top: 5px;
}

.flat-testimonials-in i {
    color:white;
}

.video-wrapper {
    width:100%;
    height:550px;
    overflow: hidden;
}

.video-wrapper video {
    object-fit: cover;
    width:100%;
    height:400px;
    -webkit-transform: translateZ(0)
}

.video-wrapper h1 {
    margin: 0;
    z-index: 150;
    position: absolute;
    top:30%;
    transform:translateY(-50%);
    width: 100%;
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.headline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#333;
    border:none;
}

.header-fixed .header-v6.header-dark-transparent.header-fixed-shrink .navbar {
    background: #FFF;
    border-bottom:1px solid #eee;
}

.header-v6 .navbar-nav > li > a {
    font-size:15px;
    text-transform: none;
}

.content-row {
    margin:25px 0;
}

.copyright .silver {
    color: #777;
}

.copyright a {
    color: #777;
}

.copyright a:hover {
    color:#bbb;
}

.content-md {
    padding:35px 15px;
}

.contacts li i {
    float: left;
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 8px 5px;
    background: #777;
    text-align: center;
    margin: 4px 10px 0 0;
    display: inline-block;
}

.form-control.error {
    border-color: #c1272d;
    color: #c1272d;
}

.bg-image-v1 {
    background: url(../images/11.jpg) repeat fixed;
}

.header-fixed .header-v6.header-fixed-shrink .navbar-brand {
    height:85px;
    max-height:85px;
    margin-top:10px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:-2px;
}

.service-block-black {
    background: #333;
}

.footer-main {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 0;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header-fixed .header-v6.header-fixed-shrink .navbar-brand {
        margin-top:0px;
    }

    .header-v6 .navbar-toggle .icon-bar {
        background: #333;
    }

    .header-v6 .navbar-nav > li > a {
        color: #333;
        font-size:15px;
    }
    .navbar-responsive-collapse {
        background:#FFFFFF;
    }
    .dropdown, .dropdown-menu {
        z-index:3;
    }
    .navbar {
        position: static;
        z-index: 2;
        background:rgba(0,0,0,.7);
        background-color: #333;
    }
    .video-wrapper {
        height:400px;
    }
    .video-wrapper h1 {
        margin: 0;
        z-index: 1 !important;
        position: absolute;
        top:30%;
        transform:translateY(-50%);
        width: 100%;
        font-size: 35px;
        color: white;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .header-fixed .header-v6.header-dark-transparent .navbar {
        background:#FFFFFF;
    }

    .header-v6 .navbar-collapse {
        border-bottom:none;
    }
    .header-v6 .navbar-nav > li a {
        border-top:none;
        text-align: center;
    }
    .header-v6 .navbar-collapse {
        border-color:transparent;
    }
    .header-v6 .navbar-nav {
        margin-top:5px;
    }
}

.maps iframe {
    margin-top:100px;
    pointer-events: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-v6 .navbar-toggle .icon-bar {
        background: #333;
    }

    .header-v6 .navbar-nav > li > a {
        color: #333;
        font-size:15px;
    }
    .navbar-responsive-collapse {
        /*background:#2a2b2b;*/
        background:#FFFFFF;
    }
    .dropdown, .dropdown-menu {
        z-index:3;
    }
    .navbar {
        position: static;
        z-index: 2;
        background:rgba(0,0,0,.7);
        background-color: #333;
    }
    .video-wrapper {
        height:400px;
    }
    .video-wrapper h1 {
        margin: 0;
        z-index: 1 !important;
        position: absolute;
        top:30%;
        transform:translateY(-50%);
        width: 100%;
        font-size: 35px;
        color: white;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .header-fixed .header-v6.header-dark-transparent .navbar {
        /*background:#2a2b2b;*/
        background:#FFFFFF;
    }

    .header-v6 .navbar-collapse {
        border-bottom:none;
    }
    .header-v6 .navbar-nav > li a {
        border-top:none;
        text-align: center;
    }
    .header-v6 .navbar-collapse {
        border-color:transparent;
    }
    .header-v6 .navbar-nav {
        margin-top:5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}